[2020-04-15 21:36] binte opened #4 "Problem loading the project on Visual Studio"
I am having an issue using this tool. I have added the Project SDK and targetFramework property to a SQL Server project, as per your [guidelines ](https://github.com/jmezach/MSBuild.Sdk.SqlProj) and although it builds and generates the dacpac file on VS code and on the build server, I can't load the project on visual studio. I get the following error when I try to reload the project:

<img width="

[2020-04-16 06:07] jmezach commented on #4
That error looks like you don't have the .NET Core workload installed for Visual Studio. Make sure that workload is installed using the Visual Studio installer.

Also I was wondering which version of Visual Studio are you using?

[2020-04-16 11:11] binte commented on #4
I do have, and I have just installed the remaining .NET Core and framework related workloads, just to be sure. The problem persists.

I believe I can't target .NET standard on a SQL Server project. I am able to load, build and successfully generate a .dacpac file by:

- Creating a windows application project
- Copying the .sqlproj content from the database project to the newly created project's .c

[2020-04-16 11:26] jmezach commented on #4
Interesting. Would you mind sharing the contents of your .csproj here to help me figure this out?

[2020-04-16 12:05] binte commented on #4
This is the .csproj in the project where I am able to build the solution and generate the .dacpac

[code]

[2020-04-16 12:07] ErikEJ commented on #4
But that is not a SDK project !?

[2020-04-16 12:11] jmezach commented on #4
Indeed what @ErikEJ says, this is not an SDK-style project file. Try to bring it back to just what I specified in the [README](https://github.com/jmezach/MSBuild.Sdk.SqlProj/blob/master/README.md). You should be able to open the project in Visual Studio then.

Looking at your project file you posted, you might want to add a `<SqlServerVersion>140</SqlServerVersion>` element to a `<PropertyGroup>`

[2020-04-17 03:29] binte commented on #4
It worked, thank you. I was not sure what was an SDK project, so I ended up mixing it up with the SQL Server project.

For me it was a requirement to be able to use SQL Server Object Explorer to update the database, and I think that's only possible with SQL Server (.sqlproj) projects. I managed to overcome this by having a SQL Server project with the SQL database scripts, and within a pre-build ev

[2020-04-17 03:36] #4 closed

[2020-04-17 06:23] jmezach commented on #4
Good to hear that it is working for you now. And thank you for trying it out. All feedback is welcome.

That actually sounds like an interesting trick to keep the SSDT features, while also benefitting from MSBuild.Sdk.SqlProj. Would you mind sharing your solution? Either here or through a pull request to the docs? That would be awesome.

[2020-04-17 06:33] ErikEJ commented on #4
It should poitentially be possible to simply use linked files?

[2020-04-17 18:57] binte commented on #4
@jmezach

I have some more feedback.

On my CD pipeline, after building the SDK project and getting the .dacpac file, I am comparing it to a live DB and generating a schema changes script that, after validation, I will later deploy to update the live DB. But no changes were ever being generated, even though that I was updating the .SQL files.

When I locally built the SQL Server project on Visual

[2020-04-17 19:55] jmezach commented on #4
@binte Good to hear that you managed to fix it. Obviously the files need to be there at the time of the build for MSBuild to pick them up.

I'm wondering how you've tried to link the files? I would think that if you've put the SQL files in the folder containing your .csproj file you could create a separate folder containing a .sqlproj and include all the files in there from the folder containing t

[2020-04-18 14:39] binte commented on #4
I tried several different ways to link the files. Whatever I did that implied the files to be in the SQL Server project physically, and then linked on the SDK project, these would not be picked up during the build. Just as expected!

In fact, even the solution I previously suggested, by having the pre-build and post-build events, does not work. Probably there is a way to do it with more advanced c

[2020-04-18 17:52] ErikEJ opened #5 "Support linked files"
Following project build a dacpac, but with not tables in model.xml:

[code]
In addition, Publish fails:

[code]

[2020-04-21 13:01] molszews opened #6 "SqlCmdVariable support"
Seems like there is no way to create dacpac that accepts params:
![image](https://user-images.githubusercontent.com/2878612/79868184-d56f2c80-83df-11ea-878f-cc139215d22c.png)

you only need to have sql like that:
`INSERT INTO $(TasksDb).[schema].[table] ...`

so you can pass the variable during runtime:
`sqlpackage.exe /Action:Publish /SourceFile:pkg.dacpac /Target(..) /v:TasksDb=Tasks`

btw such

[2020-04-22 06:00] jmezach commented on #5
@ErikEJ Looking at your project file I'm not surprised that the table doesn't end up in the resulting `.dacpac` because the build action for `Table1.sql` is set to `None`. Could you try changing that to `Content` and see if that works?

As for the publish, I'm not entirely sure what `dotnet publish` should do in this case. Perhaps `dotnet pack` would be more appropriate. Looking at the error thoug

[2020-04-22 06:05] jmezach commented on #6
Hi @molszews, thanks for reporting this. This currently doesn't seem to be supported, but would be a great addition. We would probably have to add those SQLCMD variables to the `.csproj` and then pass that as arguments to the `BuildDacpac` tool so that it can add them to the model. That will require some time to figure out though, which I'm pretty short off at the moment. Would appreciate a pull r

[2020-04-22 17:24] ErikEJ commented on #5
Of course! Adding as Content works like a charm - and "Build" works just as expected.

[2020-04-22 17:24] #5 closed

[2020-04-23 10:41] jmezach commented on #5
@ErikEJ Just to clarify, are you talking about setting the build action to `Build`, or are you referring to doing a `dotnet build`? Because I wouldn't expect the build action being set to `Build` to work actually ;).

[2020-04-23 10:42] ErikEJ commented on #5
Sorry, just mean running Build in VS works

[2020-04-23 10:45] jmezach commented on #5
Okay, great. Thanks for the feedback. And if you run into any more issues don't hesitate to create a new one.

[2020-04-23 11:13] ErikEJ commented on #5
You are welcome, this is a great project! I may have a look at: https://github.com/jmezach/MSBuild.Sdk.SqlProj/issues/6

[2020-04-23 17:22] ErikEJ commented on #6
[code]

[2020-04-23 18:18] jmezach commented on #6
Hmm, if that's part of the `CustomData` it is probably going to be a little bit harder than I thought. For some reason those aren't exposed on the public API of the DacFx model. I had the same issue with referenced .dacpac's, but managed to do some reflection to make that work.

[2020-04-23 18:21] ErikEJ commented on #6
I already have it working in PackageBuilder class, but there is a long pipeline of passing parameters etc. I can submit a PR for this, if you are intserested?

[code]

[2020-04-23 18:38] jmezach commented on #6
Yeah, that's pretty much the bulk of what this project does, passing parameters around ;). That already looks like a good start though. We'll probably need to add an argument to the `BuildDacpac` tool that can be parsed and passed to the `PackageBuilder`. Then we'll need to modify the MSBuild logic to pass those command line arguments to `BuildDacpac`. Preferably we'll allow to add this to the pro

[2020-04-23 20:34] molszews opened #7 "Log verbosity"
Hey, I did `sed` on sql files to get rid of sqlcmd variables, while the sqlproj project seems to work just fine csproj is reporting one problem which at the moment is impossible to trace due to the size of the project:
![image](https://user-images.githubusercontent.com/2878612/80146491-38182200-85b2-11ea-909e-33f98c3e220a.png)

Is there any way to increase log verbosity?

[2020-04-23 21:01] molszews commented on #7
Seems like sqlproj way of building is automagically inserting GOs between files?

[2020-04-24 07:01] jmezach commented on #7
@molszews That's interesting. You don't get this error when building the `.dacpac` using `.sqlproj`?

As for some log verbosity, have a look at the output from the Build. It should show you the files being added to the model and will probably give a clue about which file is causing this error.

[2020-04-24 12:16] molszews commented on #7
I think this is related to PostDeployment scripts, I have many sql files that are not table models but migrations scripts, there is one marked as entry file in sqlproj:
`<PostDeploy Include="PostDeployment\runMigrations.sql" />`
which then uses sqlcmd syntax to include other files `:r .\disableTriggers.sql` btw. these are set in sqlproj as `<None Include="PostDeployment\disableTriggers.sql" />`

w

[2020-04-24 12:35] jmezach commented on #7
Yes, by default we include all `.sql` files into the compilation, except for those in the folders `Post-Deployment` and `Pre-Deployment` (see the [ItemGroup here](https://github.com/jmezach/MSBuild.Sdk.SqlProj/blob/bcd1402178f117001b067a18e4d4862bedc5cb56/src/MSBuild.Sdk.SqlProj/Sdk/Sdk.props#L38-L44)). I believe those are the names of folders that you get when you create a new `.sqlproj` project.

[2020-04-24 13:02] ErikEJ commented on #7
I dont think those folders are created by default - just the Postdeploy/Predeploy Build action on the related scripts (and they can also refer to some scripts with build action None)

    This file contains SQL statements that will be appended to the build script.
     Use SQLCMD syntax to include a file in the post-deployment script.
     Example:      :r .\myfile.sql

[2020-04-24 13:53] jmezach commented on #7
;) Maybe that's just how we've setup our projects. Perhaps we shouldn't exclude those by default anymore, although that would be a breaking change. Either way we'll probably want to add support for post deployment scripts. I'm just not sure how those can be added to the model and if they resolve those references by default or that we need to add some logic to make that happen. That does sound like

[2020-04-24 13:57] ErikEJ commented on #7
Agree, proper support for pre and post is a separate issue.

[2020-04-24 14:00] molszews commented on #7
ok, seems to me this issue can be closed now

[2020-04-24 14:00] #7 closed

[2020-04-24 15:34] molszews commented on #7
btw @jmezach any hints re local setup to play with MSBuild.Sdk.Sqlproj locally? I mean, other way than publishing nuget package

[2020-04-24 16:34] jmezach commented on #7
Have a look at the test projects. They mostly just include the Sdk.props and Sdk.targets files directly which should work if you want to try out changes locally.

[2020-04-25 21:17] molszews opened #9 "Post/Pre deployment scripts support"
Seems like these are not supported.

I've played a little bit with appending such scripts, seems like simple appending of the .sql to resulting dacpac (zip) should work (https://the.agilesql.club/2019/03/how-can-we-merge-multiple-dacpacs-into-one/), however, I'm not sure how to tackle sqlcmd syntax support.
Running `sqlcmd -i postdeployment_entryfile.sql -e -r >postdeploy.sql` generates correct fi

[2020-04-29 17:07] ErikEJ commented on #6
Would it be an option to simply treat SqlCmdVariables like other properties?

[code]

[2020-04-30 06:37] jmezach commented on #6
I'm not entirely sure that is going to work. I don't think you can have the same property defined multiple times, so if you have multiple SQLCMD variables you want to define you'll need to separate them with semi-colons. Also, how are we going to define the value and default value?

Also, having an easy way to migrate from `.sqlproj` to `.csproj` has been sort of a design goal for me, so that's wh

[2020-04-30 07:04] ErikEJ commented on #6
Agree - though I am not sure the value and defaultvalue are need in the dacpac - they are for VS use only.

[2020-04-30 19:11] leohinojosa opened #10 "Max number of Input file names"
Hi!
trying to implement the solution ( over 2k sql table and sprocs)  to our sql project, I got the following message

[code]
Looking at the code I couldn't find a way to increase this limit, but it seems that it's probably defined in the dotnet `commandline` dependency .

Do you know if there is an easy way to change this limit?

[2020-04-30 20:02] jmezach commented on #10
Hi @leohinojosa. First of all, thanks for giving it a try. To be honest I wasn't expecting this. I'll have to dig into this a little bit. It could be related to dotnet/command-line-api#863, which looks to be fixed. Maybe I'll just need to update the dependency.

[2020-04-30 21:20] leohinojosa commented on #10
Ah it seems they merged it a couple of weeks ago,
I'll monitor the next release of command-line-api and send you a PR with the change
Thank you @jmezach

[2020-05-01 11:20] ErikEJ commented on #6
From https://docs.microsoft.com/en-us/sql/ssdt/database-project-settings?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev16.query%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(sql.data.tools.advanceddeploymentsystemdefined.dialog)%26rd%3Dtrue&view=sql-server-ver15#bkmk_sqlcmd_variables

SQLCMD Variables

In SQL Server Database Projects you can utilize SQLCMD variables to provide dynamic substitutio

[2020-05-01 11:22] ErikEJ commented on #6
Socompatible syntax would be:

[code]

[2020-05-03 14:44] ErikEJ commented on #9
Any thoughts about the design of this?

[code]
If this is passed to the command line tool, maybe we can just expect sqlcmd to be present, and run it to create the consolidated script(s), and add it like this: https://github.com/GoEddie/DacpacMerge/blob/master/src/MergeEm/Program.cs#L118

[2020-05-03 14:50] molszews commented on #9
well, using sort of naming convention won't be enough? there can be only one post/pre deploy script, we can simply assume it should be available under `Post-deployment\postdeploy.sql`

[2020-05-03 14:55] ErikEJ commented on #9
You can link multiple script with r: sqlcmd syntax - and we do.

[2020-05-03 14:56] molszews commented on #9
yeah, but you specify only the entry point inside the .csproj, after that you can link every other file?
btw, sqlcmd could be embedded in a way this package embeds chromedriver binary https://github.com/jsakamoto/nupkg-selenium-webdriver-chromedriver/#where-is-chromedriverexe-saved-to

[2020-05-03 14:56] ErikEJ commented on #9
But for v1, we could of course just go by convention, and expect the script to be merged.

[2020-05-03 15:02] ErikEJ commented on #9
Not sure sqlcmd is simply a single .exe..

[2020-05-03 15:05] jmezach commented on #6
Thanks to the effort of @ErikEJ we now have a [prerelease version](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.1.0-beta.7) available that supports SQLCMD variables. It would be great if @molszews and @ErikEJ could try this out in a real world project, since I'm not using SQLCMD variables myself. I have seen them ending up in the resulting `.dacpac` though, so I'm fairly confident it will

[2020-05-03 15:13] jmezach commented on #9
I wonder how SSDT treats those scripts. I'm guessing it may just be added to the model as is and the passed to sqlcmd at deployment time. Does anyone have an example `.dacpac` that is build by SSDT which includes a pre- and/or postdeployment script that they are willing to share so I can have a look?

[2020-05-03 15:29] molszews commented on #9
Resulting .dacpac archive contains a single .sql file which looks like the result of sqlcmd command I've posted before. It looks like there is nothing in the model related to that postdeploy.sql, it is simply appended to the zip archive. I will try to provide some samples

[2020-05-03 16:41] ErikEJ commented on #9
If you email me, I can send you one privately.

[2020-05-04 07:19] molszews commented on #6
I think this is impossible to test atm, seems to me that SQLCMD support (incl variables) is limited to post/pre deployment scripts which are subject of the different issue

[2020-05-04 07:25] molszews commented on #9
@jmezach https://we.tl/t-ts0yOX4KA0

[2020-05-04 07:45] ErikEJ commented on #6
You can also use them in model scripts - https://sqlplayer.net/2019/03/tokenization-of-database-project-in-ssdt/ - but we only use them in post deploy script.

[2020-05-04 08:02] ErikEJ commented on #9
I suggest that for initial implementation:

1: We assume the script is consolidated (the user can do this as a pipeline/build step)

2: We assume the folders follow the naming convention already specified here.

3: We assume the .sqlproj syntax will point to the consolidated script:
[code]
Happy to update the command line tool to support this, if we decide to go ahead!

[2020-05-04 10:58] jmezach commented on #6
It looks like the pre- and postdeployment scripts are exposed through the.`DacPackage` class. However, I haven't yet found a way to set them when building the package. That API seems to be readonly.

[2020-05-04 11:37] ErikEJ commented on #6
I will implement this: https://github.com/GoEddie/DacpacMerge/blob/f37ec0edbc1f77860bd745cd28d9c7d7030491e7/src/MergeEm/Program.cs#L112

[2020-05-04 11:38] ErikEJ commented on #9
I will implement like this: https://github.com/GoEddie/DacpacMerge/blob/f37ec0edbc1f77860bd745cd28d9c7d7030491e7/src/MergeEm/Program.cs#L112

[2020-05-04 11:46] jmezach commented on #6
That looks like a good place to start. I just did a little experiment with something similar and it looks like the script file ends up in the package. Haven't tested yet if it also gets executed at deployment time though. But if that works, we'll only need to figure out how we can support referencing other files. I'll try to do some more research on that when I have the time.

[2020-05-04 12:16] ErikEJ commented on #6
Maybe we could skip supporting multiple files for now? see https://github.com/jmezach/MSBuild.Sdk.SqlProj/issues/9#issuecomment-623318501

[2020-05-05 05:43] ErikEJ commented on #9
@jmezach Can I start work on this? Or are you already full speed ahead?

[2020-05-05 05:50] jmezach commented on #9
Yeah, go for it :)

[2020-05-06 11:27] jmezach commented on #10
Looks like a new version of System.CommandLine has been released which should include the necessary fix for this. I've just pushed some changes for #9 which includes the update. Could you give this [beta package](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.1.0-beta.9) a try to see if that fixes your issue?

[2020-05-06 11:28] jmezach commented on #9
@ErikEJ @molszews A new [beta package](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.1.0-beta.9) is now up on NuGet for you to try out. This should have support for pre/post deployment scripts, if everything is in the same file. I'm still working on the merge logic.

[2020-05-06 11:31] ErikEJ commented on #9
@jmezach Fantastic! Will give it a try asap!

[2020-05-06 11:49] ErikEJ opened #14 "SqlServerVersion not documented"
Used but not shown in any links from readme: https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dac.model.sqlserverversion

[2020-05-06 12:04] jmezach commented on #14
Good point, we should probably add that to the README. Shouldn't be too hard. Would appreciate a PR, not sure when I get the time to add this.

[2020-05-06 12:14] ErikEJ opened #15 "Bug in deployement script saving"
System.ArgumentException: Offset and length were out of bounds for the array or count is greater than the number of elements from index to the end of the source collection.
     at System.IO.MemoryStream.Write(Byte[] buffer, Int32 offset, Int32 count)
     at System.IO.Compression.WrappedStream.Write(Byte[] buffer, Int32 offset, Int32 count)
     at Microsoft.Data.Tools.Schema.Sql.Packaging.ZipWra

[2020-05-06 12:23] #15 closed

[2020-05-06 12:34] jmezach opened #17 "Occasional issue during CI"
It sometimes happens that CI fails due to SqlPackage trying to deploy the .dacpac to the container, but the container hasn't yet fully started. I believe there is a way to wait for the container to start before the job runs, but I'll need to dive in to see how that works exactly.

[2020-05-06 13:12] ErikEJ opened #18 "Append newline + GO to post and pre deploy scripts"
I am folder comparing with WinMerge the same project built by VS and this.

[2020-05-06 13:15] ErikEJ opened #19 "postdeploy script appears to be loaded as SQL object script"

[2020-05-06 13:17] ErikEJ opened #20 "SqlCmdVariables should be in a single section"
Expected:

                <CustomData Category="SqlCmdVariables" Type="SqlCmdVariable">
			<Metadata Name="DbReaderPassword" Value="" />
			<Metadata Name="DbUserPassword" Value="" />
		</CustomData>

Actual:

                <CustomData Category="SqlCmdVariables" Type="SqlCmdVariable">
			<Metadata Name="DbReaderPassword" Value="" />
		</CustomData>
		<CustomData Category="SqlCmdVariables" Type=

[2020-05-06 13:23] jmezach commented on #18
Yeah, I think this also has to do with the whole merging of scripts that happens in VS. I'm curious though as to what you are comparing exactly. I think there's some additional transformation happing at deployment too.

[2020-05-06 13:27] jmezach commented on #20
Looking at the current implementation this makes sense. Shouldn't be too hard to fix though. We'll probably have to supply a list to `AddSqlCmdVariable` (and rename it to be plural) and then call the `SetMetadata` method multiple times for each variable, before adding the custom data to the model.

[2020-05-06 13:27] ErikEJ commented on #19
This happens when building from VS solution, where .csproj and .sqlproj resides in same folder, so probably a non-issue. Does not occur in a command line build

[2020-05-06 13:27] jmezach commented on #19
Could you elaborate on what you mean exactly? Do you get an error or something?

[2020-05-06 13:28] ErikEJ commented on #19
See above 😄

[2020-05-06 13:32] ErikEJ commented on #18
I am comparing the contents of two dacpacs, one built from my original .csproj, and on biult by this SDK project.

I will make sure we add the newline + GO + newline to each script.

[2020-05-06 13:34] ErikEJ commented on #19
I mean objects defined I my post-deployment script appear as objects in model.xml, and this should not happen.

[2020-05-06 13:44] jmezach commented on #19
That's weird. I wonder how having the .sqlproj and the .csproj in the same folder would have any bearing on that behaviour. We do have some default excludes for files in the Pre-Deployment and Post-Deployment folders, perhaps those aren't entirely correct for your case?

[2020-05-06 13:51] ErikEJ commented on #19
I probably should not be doing that, it causes other types of issues.

[2020-05-06 14:33] #18 closed

[2020-05-06 17:29] ErikEJ commented on #9
![image](https://user-images.githubusercontent.com/4169187/81208068-d357c100-8fce-11ea-837d-73b29b653d92.png)

I am now able to build a "buddy" .dacpac to my .sqlproj project, and any differences in package content are not of importance. The postdeploy files even match!

My project file (not in the same folder as the .sqlproj) with linked items (so the .csproj is basically residing in an empty fol

[2020-05-06 17:46] jmezach commented on #9
Very nice. Glad to see it's coming together. Did you try deploying the resulting .dacpac yet? Curious to see if it actually runs at deployment time. @molszews Have you had time to give it a try yet?

I made some progress on the merging of scripts today. Interestingly it works fine on my dev machine, but fails on CI. For some reason it can't find the included file. Hope to do some more work on that

[2020-05-06 17:49] ErikEJ commented on #9
No, I need PR review etc. before I can deploy to DEV - will do so tomorrow

[2020-05-07 09:16] ErikEJ commented on #9
I can now confirm, that deploying my package with both postdeploy and sqlcmd variables using Azure Pipelines to our DEV environment  works as expected. I believe #6 can be closed now.

[2020-05-07 09:17] #19 closed

[2020-05-07 09:25] jmezach commented on #9
Great, thanks for reporting back. I'll close #6 when I've released a stable version. Do the pre/post-deployment scripts work as well?

[2020-05-07 09:30] ErikEJ commented on #9
Yes, it does! (Only using post)

[2020-05-07 10:03] #14 closed

[2020-05-07 13:23] jmezach commented on #9
As I mentioned yesterday I did make some progress on the merging of SQLCMD files. I'm trying to rely on existing code from the Microsoft assemblies to do it, so that we don't have to reinvent the wheel, even though those API's are internal. Unfortunately it looks like the existing code isn't very cross-platform friendly. When you reference a script using something like `:r ./Script1.sql` it turns

[2020-05-07 13:30] ErikEJ commented on #9
Absolutely, this has been my scope all the way - just document the limitation in the readme.

[2020-05-07 14:15] jmezach opened #23 "Support for merging SQLCMD scripts"
In version 1.1.0 we've added support for pre- and post deployment scripts (see #9). Unfortunately we do not yet support including other scripts from those scripts using the `:r OtherScript.sql` syntax.

Some initial work has been done to support this (see `feature/sqlcmd-file-merging` branch), but it has some limitations in that it doesn't work cross-platform. This is due to the fact that the SQL

[2020-05-07 14:32] jmezach commented on #6
[1.1.0](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.1.0) is out now. Grab it while it's hot ;). I'll go ahead and close this issue.

Thanks so much @ErikEJ for helping out with this. How would you feel about becoming a maintainer on this project?

[2020-05-07 14:32] #6 closed

[2020-05-07 14:33] jmezach commented on #9
This has been released in [1.1.0](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.1.0). README has been updated.

[2020-05-07 14:33] #9 closed

[2020-05-07 14:34] jmezach commented on #10
Hi @leohinojosa, just a heads-up that [1.1.0](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.1.0) is out now on NuGet which should include the fix for this issue. I'll go ahead and close this now, but don't hesitate to re-open if it still doesn't work for you.

[2020-05-07 14:34] #10 closed

[2020-05-07 15:01] ErikEJ commented on #6
I would be honoured to become a maintainer! It's a great project.

And I plan to blog about it soon, as it is currently semi ready for prime time.

[2020-05-07 15:04] jmezach commented on #6
Cool. I've sent you an invite.

[2020-05-07 23:10] leohinojosa commented on #10
Will do! Thanks for the heads up!

[2020-05-09 04:37] leohinojosa commented on #10
New version works correctly,
however in my legacy project we have over 5k sql files, and in macos, we hit a limit on the max number of arguments passed to an executable.
I'll try to figure out a way to split this or to change the ulimits at the os level

Thank you !

[2020-05-28 17:53] jmezach opened #24 "Consider adding templates"
We might want to add a separate NuGet package to this project containing templates for `dotnet new` so that new projects can be easily created. Perhaps we can even add templates for specific SQL object types like stored procedures, tables, views, etc.

[2020-06-18 15:54] timabell opened #25 "Error when "restore database from URL" encountered in sql files"
I followed along with the instructions at https://erikej.github.io/efcore/2020/05/11/ssdt-dacpac-netcore.html and it was going okay until the build encountered an azure `restore database xxx from url = 'xxx'` statement, at which point it errored:

[code]

The `restore database from url` option is documented here: https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/sql-server-b

[2020-06-18 16:05] ErikEJ commented on #25
Please share your project (at least options)

[2020-06-18 17:02] timabell commented on #25
The work in progress is here: https://github.com/SkillsFundingAgency/dfc-coursedirectory/blob/linux-builds/src/Dfc.CourseDirectory.Database.Build/Database.Build.csproj (work in progress branch, may disappear later)

It pulls in https://github.com/SkillsFundingAgency/dfc-coursedirectory/tree/cd887928fb48e08cafcd8c34eac8d207ebe283f0/src/Dfc.CourseDirectory.Database

[2020-06-18 18:16] jmezach commented on #25
I had a look around and according to [this post](https://social.msdn.microsoft.com/Forums/en-US/aedad849-46c2-412c-8c35-b48d8fe8e4b4/sql46010-backup-to-url?forum=ssdt) it seems that it is also an issue with the existing `.sqlproj` format. @timabell Does the .sqlproj compile as it is, or does it give you the same error?

The post linked above suggests to use dynamic SQL to resolve it, although that

[2020-06-19 06:10] ErikEJ commented on #25
Or maybe move the offending script to PostDeployment with "CREATE OR UPDATE" ?

[2020-06-19 09:17] timabell commented on #25
@jmezach The visual studio sqlproj does compile and create a dacpac, yes.

I tried the dynamic sql option and that indeed get past the error though at a cost of the ability of tooling to analyse the file.

I've realised I probably don't actually need that script in the linux build of the dacpac for local development at the moment so I've altered my linux build csproj to not include the problematic

[2020-06-21 07:13] jmezach commented on #25
I would expect the original .sqlproj to fail with the same error actually, since both project file formats should be using the same SQL parser. Unless the offending file is not part of the build in the original .sqlproj. What is the build action for that file?

Either way I don't think there's much we can do here if the parser doesn't support it. I checked if there's an update to the NuGet package

[2020-06-21 07:13] #25 closed

[2020-06-21 07:22] ErikEJ commented on #25
Agree, not something this project can fix - we should keep eyes on updates to the NuGet pckage, but I do that regularly anyway for EF Core Power Tools.

[2020-06-25 03:04] brandonmcclure opened #26 "Help setting up a debugging environment"
I am testing out the feasibility of using this SDK to convert our existing SSDT projects. I can setup a blank new project with no problems, but when I try to import all of our sql files from one of our existing projects I get an error:
[code]
Followed by a lot of text. This project has ~1400 sql files in the folder structure, so I removed a bunch of files (1000) to try a build with fewer files. Th

[2020-06-25 06:07] jmezach commented on #26
Hi @brandonmcclure. First of all, thanks for giving it a try. The first error you posted seems to suggest that it wasn't able to find the dotnet command line tool, which is part of the .NET Core SDK. Can you verify that you have this installed?

I'm assuming you have though since it does seem to work fine with fewer files. Maybe there is a limit on the number of arguments you can pass into a comma

[2020-06-27 14:56] brandonmcclure commented on #26
Thanks @jmezach that helps me get started. I am running Windows 10. My .net sdk seems to be working, since I can build other (asp core) projects and a more simplified existing SSDT project.

I don't have the debugger setup yet, but plan on working on this in the next week or 2 and will share how that goes.

We have several databases that we manage through several somewhat monolithic SSDT projects.

[2020-06-27 15:54] jmezach commented on #26
I hink that's actually a very good use case for using this project. We have been doing that as well, splitting out a huge monolithic database project into smaller pieces. But with the lack of support for using NuGet packages in .sqlproj files it is a rather frustrating experience. But with MSBuild.Sdk.SqlProj this is really easy to do.

[2020-06-27 19:24] stevebelskie opened #27 "Is it possible to add support for GenerateCreateScript?"
It seems that something in the vein of the example below could be added to `PackageBuilder` or in `Extensions`, that could be called based on a new property added to `PackageOptions`.
[code]
Not super familiar with the underlying apis here so there may be a better way using than `DacServices` or a reason that it's not feasible for this project.

In any case, thanks for this awesome project!

[2020-06-27 19:34] jmezach commented on #27
Hi @stevebelskie. Thanks for the suggestion. Would you mind elaborating a little bit about what you are trying to achieve? So far this project has focussed on being able to produce a `.dacpac` from a set of SQL files, while leaving the deployment to existing tools in the ecosystem (namely `SqlPackage.exe`). I wouldn't mind adding an option to generate a `.sql` script as well, but I'm struggling to

[2020-06-27 21:04] stevebelskie commented on #27
So it's an option available in a `.sqlproj` that is distinct from the option to generate an script when publishing/deploying. The latter I believe is what `SqlPackage.exe` provides. I couldn't figure out a away to generate a script using `SqlPackage.exe` without specifying an actual target db. The `GenerateCreateScript` option (as far as I know) simply creates a sql script that creates the entire

[2020-06-27 21:29] jmezach commented on #27
That makes perfect sense actually. So would you like to have both the script and the .dacpac? I'm not entirely familiar with how this works with the .sqlproj format since I haven't used that feature. Could you briefly explain how it works there, or point me to some doc that explains how it works? Ideally I would like to keep things the same as much as I can.

[2020-06-27 22:21] stevebelskie commented on #27
Yes, you end up with both the .dacpac and the script. I'm not able to find anything as far as documentation that the the feature exists for .sqlproj. I only stumbled upon it as an option in Visual Studio:
![image](https://user-images.githubusercontent.com/37506132/85933103-3401cc80-b8a1-11ea-9bb5-95c777780a52.png)
It adds an xml element to the main property group: `<GenerateCreateScript>True</Gene

[2020-06-28 07:16] jmezach commented on #27
Okay, cool, that doesn't look too hard to add. We'll just need to add a parameter to the command line tool to toggle this behaviour and then pass the value of that property to it.

I'll see if I can find the time to add this. A PR would be much appreciated though.

[2020-06-29 12:41] stevebelskie commented on #27
I'd be happy to contribute a PR. I should have time this week to do so.

[2020-06-29 13:11] jmezach commented on #27
That would be awesome!

[2020-07-19 23:27] ltk-mpadelsky commented on #23
Is this all that is holding up merging in https://github.com/jmezach/MSBuild.Sdk.SqlProj/tree/feature/sqlcmd-file-merging ?
I'm wondering if you could just release this knowing that reference path resolution within DacFX is not working cross-platform yet (or I should say, converting given the platform its building  and resolving on).

I notice the DACExtensions project you commented on hasnt been

[2020-07-20 06:27] ErikEJ commented on #23
1.1.0 DOES support pre and post scripts, what makes you think otherwise? They must just be  single scripts, and reside in the correctly named folders

[2020-07-20 12:55] ltk-mpadelsky commented on #23
Sorry, @ErikEJ !  I should've proof read my response a little better.  I edited it above.
I meant to say that it doesn't support resolving the references in those scripts!

[2020-07-28 06:02] jmezach commented on #23
I was thinking about making this work in a way that it would work as expected on Windows, while having the "handicap" on Linux and macOS of having to use upper-cased filenames. That way it would pass CI and it would just work on Windows as expected. Not sure when I'll have the time to finish this though.

[2020-07-30 12:47] jeffrosenberg opened #28 "Referencing other dacpacs fails on macOS with 'Unable to find reference file' ArgumentException"
I'm working on a POC for adopting this project to manage my organization's database builds to make them cross-platform. Our builds typically combine 3-5 dacpacs into a composite database project. When attempting to build a composite project that includes a `PackageReference` on a Mac, I received an error that the SDK was 'Unable to find reference file'.

Here's my .csproj file (unnecessary propert

[2020-08-05 16:18] jmezach opened #30 "Investigate support for .NET 5 SDK"
While working on #29 I noticed that things weren't working on my local machine with the .NET 5 preview SDK installed. We'll probably want to add .NET 5 SDK's to the CI build so that we can see what's going wrong there.

[2020-08-05 19:18] #28 closed

[2020-08-05 19:38] jmezach commented on #28
MSBuild.Sdk.SqlProj version 1.1.1 that fixes this issue is up on NuGet.org now, but it might take some time for it to be indexed. Might want to hold off on changing your project file, since I've seen before that once you update it it is somehow caching that information and if it then fails to restore because it has not been indexed it will cache that information forever and you'll need to manually

[2020-08-06 12:38] jmezach commented on #28
Just letting you know that the 1.1.1 version has been indexed now. Again thanks for the help on this @jeffrosenberg.

[2020-08-06 13:46] jmezach commented on #24
According to [this](https://github.com/dotnet/templating/issues/481#issuecomment-669896750) these templates will eventually show up in Visual Studio as well, which would be super neat. Especially if item templates show up as well.

[2020-08-07 11:28] jmezach opened #32 "Proposal: Adding support for deploying"
I've been considering adding support for deploying a project that uses this SDK to a SQL Server as part of a `dotnet publish`. I have experimented with this and it is fairly easy to extend the publishing pipeline by adding a `Publish` target to the `Sdk.targets` file and do something from there. But before I go and implement this I was wondering if this would be considered useful for other folks u

[2020-08-07 11:29] jmezach commented on #27
@stevebelskie Is this something you're still working on?

[2020-08-07 11:56] jmezach commented on #23
I've had another look at this, but I don't think there's an easy fix for this issue. Not only does it uppercase the filename, but it uppercases the absolute file path. That means I would need to rename the entire folder structure to be uppercases in order for it to work during CI, but I can't do that because some higher level folders are outside of my control.

So I guess we can only hope that som

[2020-08-07 12:14] ErikEJ commented on #32
Why do we need sqlpackage(.exe) ?

https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dac.dacservices.deploy?view=sql-dacfx-150

(Not claiming it will be simple to support all options)

[2020-08-07 12:22] jmezach commented on #32
Hmm, yeah, you're right, we don't need to use SqlPackage.exe to deploy it, we could just build a tool ourselves that does it and then run that. Would be quite a bit of work to support all options yes, but maybe we don't need to support them all since it will be mostly used for local development I think.

Maybe we need to rename the current BuildDacpac tool and add the support there, or have a sepa

[2020-08-07 12:54] stevebelskie commented on #27
@jmezach hey there, been a busy few months, but still on my radar. I've had it mostly finished for a bit now. I can probably wrap it up this weekend.

[2020-08-09 07:20] jmezach opened #34 "Incremental build support"
Currently the `CoreCompile` target defined in [Sdk.targets](https://github.com/jmezach/MSBuild.Sdk.SqlProj/blob/59ae058ff1f594c98f56d42b2239f9ba76e91c41/src/MSBuild.Sdk.SqlProj/Sdk/Sdk.targets#L129) will always be run regardless of whether any changes were made to the input files. But given the same set of inputs the resulting .dacpac should be the same, so I think it makes sense to add incrementa

[2020-08-09 11:19] jmezach commented on #17
Fixed by #33

[2020-08-09 11:19] #17 closed

[2020-08-09 11:19] jmezach commented on #32
This has been implemented in #33 and should be released soon as 1.2.0. I'll leave this open until that version is out.

[2020-08-09 12:02] jmezach commented on #32
[1.2.0](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.2.0) is out on NuGet.org which has support for this. Thanks @ErikEJ for reviewing the change.

[2020-08-09 12:02] #32 closed

[2020-08-09 12:04] jmezach commented on #27
@stevebelskie Just a heads-up that I've merged #33 earlier today which introduced some significant changes to the codebase due to some renaming. You'll probably want to merge with master.

[2020-08-09 17:20] jmezach commented on #23
I had another look at this. Apparently we're allowed to use code from [microsoft/sqltoolsservice](https://github.com/microsoft/sqltoolsservice) as long as we include the license. I've added a submodule and reference the ManagedBatchParser project directly and I think that will give us what we need to implement this. I'm already able to get the list of included scripts from the pre/post-deployment

[2020-08-13 15:23] jmezach opened #35 "Announcement: Transfer of ownership"
This is not really an issue, but more of an announcement to let everybody know that Im considering transferring the ownership of this repository to my employers [GitHub Organization](https://github.com/rr-wfm/). There are a couple of reasons for that:

1. We are actively using this package in our own projects. In fact I originally set out to build it just for us, but I figured that it could be use

[2020-08-13 15:29] ErikEJ commented on #35
Makes sense!

[2020-08-14 05:01] jmezach commented on #35
Yeah, I think it makes sense too. I just want to be as open and transparent about this as possible. To be clear, this is not about my employer trying to take control of this project. It is more about supporting this project to bring it further.

[2020-08-14 19:23] JonDBA commented on #27
I came here looking for the same thing. I've only had a chance to get a high level look at the code but here's what I'm seeing:

Layering [DacServices.Publish](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dac.dacservices.publish) on top of most of the existing [DacServices.Deploy](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dac.dacservices.deploy) logic shoul

[2020-08-14 21:00] jmezach commented on #27
I'm not entirely sure if adding this to the publishing pipeline. Personally I feel like the script would be more of a build artifact, rather than a publish artifact. Not sure how SSDT does it though.

[2020-08-15 05:43] ErikEJ commented on #27
This issue is about an additional build artifact, besides the .dacpac file, so definitely nothing to do with deployment.

[2020-08-17 13:36] jeffrosenberg opened #36 "PackageReferences don't resolve wildcard versions"
When using the `<PackageReference>` element to build a composite database project, the referenced version should support the use of "floating versions", i.e. wildcards, per the [documentation here](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#floating-versions). When using this SDK (and adding a few debugging messages to see what's going on behind the

[2020-08-17 13:44] jmezach commented on #36
This is interesting, thanks for reporting this. Currently we're using the version from the `PackageReference` directly to resolve the physical location on disk. I'm guessing MSBuild attaches some metadata to the `PackageReference` with the actually resolved version. Would you mind running `dotnet build /bl` from the command line on your project and share the resulting `msbuild.binlog` file somewhe

[2020-08-17 14:01] jeffrosenberg commented on #36
Out of an abundance of caution, I think I'd better check with some folks in my organization to make sure that's okay. I'll get something shared as soon as I can, but may take me a while.

[2020-08-17 15:11] jmezach commented on #36
Sure, I get it. I'm not sure what exactly gets logged in a binary log to be honest. I guess it is everything you pass into MSBuild somehow. I guess there could be secrets in there somewhere, especially if you pass some on the command line to make your build succeed.

If you really don't want to share, I guess a simple repo project would do as well.

[2020-08-17 16:06] jeffrosenberg commented on #36
I put together a simple repo to keep things easy. As it turns out MSBuild logs a lot -- including all of your environment variables! 😄

Github didn't like me attaching the binlog file, so it's attached as a zip. I finally got myself set up with a binlog viewer on a Windows VM, so I'll try to take a look myself as well.
[msbuild.binlog.zip](https://github.com/jmezach/MSBuild.Sdk.SqlProj/files/50853

[2020-08-17 16:20] jeffrosenberg commented on #36
I noticed something while looking through the first binary log -- the only property that appeared to have the version string I wanted (7.6.0) was named `PkgBase`, which I noticed had a related name to my package "Base". Because "Base" is a name you see in a lot of properties, I updated my repo to include a second dependency named "Second". Sure enough, there's also a `PkgSecond` now with the prope

[2020-08-18 06:10] jmezach commented on #36
I'm aware of the `Pkg<package-id>`properties being set by MSBuild. In fact we were [originally using that](https://github.com/jmezach/MSBuild.Sdk.SqlProj/commit/5f2212019c12084d77e1a6f0d1ffad37c934678d#diff-aa39a3574d38e789f91cd32cdb7dfed4) to resolve the physical location of the package. I can't remember exactly why I changed it to resolving the path manually, but I believe it had something to do

[2020-08-18 06:19] jmezach commented on #36
I just did some research and according to [this](https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files#generatepathproperty) you can either have MSBuild explicitly generate that property, or it will automatically generate it if the package has a `tools` folder. Since we're packaging `.dacpac`'s into the `tools` folder when you use this SDK I guess we can rely

[2020-08-18 06:39] jmezach commented on #35
I have just completed the ownership transfer. I've added a code of conduct and I've also added our NuGet organization as an owner of the NuGet package.

[2020-08-18 06:39] #35 closed

[2020-08-18 16:26] jmezach commented on #36
@jeffrosenberg Do you think you can sent a PR for this? If not, that's fine, but I don't think I'll have much time this week to look into this.

[2020-08-18 16:32] jmezach commented on #26
Hi @brandonmcclure. Just checking in to see if you've managed to validate [my hypothesis](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/issues/26#issuecomment-649240746)?

[2020-08-18 17:03] jeffrosenberg commented on #36
I can give it a shot! I'm still not quite sure how to handle this sort of dynamically-named variable, but if you say you were using something similar than I can just look back into the project history. I'll give it a try this week. If I can't figure it out, it can certainly wait until you have time to look at it, but I'll do my best to resolve it myself.

[2020-08-18 20:23] brandonmcclure commented on #26
@jmezach, thanks for the follow up. That did work, I was able to connect the debugger and step through the build.

[2020-08-18 20:23] MarkIannucci commented on #35
@jmezach @ErikEJ , this seems like a natural outgrowth for this project, which I think became viable for us at Denver Health in version 1.1.  You may recognize me from #2.  I wanted to let you know that we will likely be incorporating version 1.3 into our deployment and maintenance processes for some of our databases this week.  We look forward to contributing to this project where we can.  Thank

[2020-08-19 05:50] jmezach commented on #35
@MarkIannucci Thank you for using it and supporting us. If you run into any problems, please don't hesitate to file an issue. We'd be happy to help you out.

[2020-08-19 05:51] jmezach commented on #26
Ah cool! That's great to hear. I'll leave this issue open so that we can add this to a CONTRIBUTING.md for any folks needing to do the same thing in the future.

[2020-08-20 03:12] MarkIannucci commented on #23
@jmezach , I have a database project which utilizes the `:r` sqlcmd syntax in the post deployment context.  I'm happy to help test when you get to that point (I'm afraid it would be limited to Windows though :-\ ).

[2020-08-20 03:12] MarkIannucci commented on #23
@jmezach , I have a database project which utilizes the `:r` sqlcmd syntax in the post deployment context.  I'm happy to help test when you get to that point (I'm afraid it would be limited to Windows though :-\ ).

[2020-08-21 17:22] lewism36 opened #39 "Pass SQLCMD variables at build time"
Is it possible to reference objects defined in a referenced package?  In a view for example.

I can't see how to specify the DatabaseSqlCmdVariable or an equivalent, like when adding a project reference to a sqlproj, but I'm also not sure if the SqlCmd variable is being expanded with the default value anyway.

Without this the build fails with validation errors e.g.

`1>Target CoreCompile:`
`1>  U

[2020-08-24 05:54] #34 closed

[2020-08-24 10:57] lewism36 commented on #39
@jmezach Thanks for looking into this.  I've shared an example in [here](https://github.com/lewism36/database-projects).

[2020-08-24 13:50] #36 closed

[2020-08-24 15:15] jmezach commented on #36
@jeffrosenberg Version 1.3.0 is now up on NuGet which includes the fix for this issue. Thanks again for your contribution.

[2020-08-24 15:16] jmezach commented on #34
@jvilimek Version 1.3.0 that includes the fix for this issue has just been shipped to NuGet and is now available.

[2020-08-25 05:52] jmezach opened #40 "Add support for ProjectReference"
While MSBuild.Sdk.SqlProj supports `PackageReference` for referencing NuGet packages and automatically include their embedded `.dacpac`'s as part of the build we do not currently support `ProjectReference`. In a `.sqlproj` this is typically defined as:

[code]

In the case of SDK-style projects we can probably get rid of the `Project` metadata since those GUID's aren't used anymore. I'm not entire

[2020-08-25 05:53] jmezach commented on #39
Looking at the example I think there's actually two things that are relevant here. The first is that this requires the value of SQLCMD variables to be passed at build time. For example, given the following excerpt from the project file:

[code]

We would need to pass a SQLCMD variable to the `DacpacTool` from `Sdk.targets` for the `CoreCompile` target and supply either the value of the MSBuild `Sq

[2020-08-25 10:48] lewism36 commented on #39
Thanks - I forgot to mention that Database1 and Database2 were the examples using the old sqlproj style.  Database3 and Database4 are the two where I was replicating the same setup with this sdk.

[2020-08-25 10:49] lewism36 commented on #39
I think ProjectReference would be useful too though

[2020-08-25 21:19] shawty opened #41 "[Question] How can I load the modified project back into VS2019 for editing?"
Like many people trying to build dotnet core projects on linux, that include SQL server projects, I ended up here after some internet searching and research.

Like others, I'm editing in Visual Studio, checking into GitSVN then having JenkinsCI build my project on a linux target.

Before finding this project, this was my issue

![image](https://user-images.githubusercontent.com/1876454/91228631-78

[2020-08-26 05:01] ErikEJ commented on #41
Could you share your .csproj ?

[2020-08-26 09:52] shawty commented on #41
Yea sure Erik, but there's nothing special in it, it's just the standard template one. (sqlproj) I think it is.

![image](https://user-images.githubusercontent.com/1876454/91288610-19f14700-e789-11ea-87ec-9c1ab349d940.png)

![image](https://user-images.githubusercontent.com/1876454/91288686-32f9f800-e789-11ea-9518-2813dee519bf.png)

![image](https://user-images.githubusercontent.com/1876454/912887

[2020-08-26 09:54] shawty commented on #41
I confess I did spend an hour or two last night chopping and changing bits of the project file around, but didn't get anywhere.

[2020-08-26 10:12] jmezach commented on #41
@shawty The project file must have the `.csproj` extension. It will not work with `.sqlproj` because then Visual Studio will interpret it as an old style project, but since you've changed the contents of the project file to use SDK-style projects you get the error. I don't think there's currently a way we can support the `.sqlproj` extension.

[2020-08-26 10:56] ErikEJ commented on #41
Maybe the documentation could be slightly clearer on that?

[2020-08-26 10:58] shawty commented on #41
@jmezach ah ok.  So question?  It's not 100% clear from the read me, but how would I get an SQL server style project into my .NET core solution?

From scratch?

Basically, I would like to use the features of VS to help me edit, design and build the new tables/sprocs/fuctions etc, and maybe even generate a DACPAC for them (Although this is not a major requirement).

Then when checking into git, I s

[2020-08-26 11:06] jmezach commented on #41
What I've heard people do is to have a "companion" `.csproj` next to the existing `.sqlproj`. I believe @ErikEJ has some experience with that as well. Basically you would create a new project (I believe it has to be in a separate folder as well) and then add the following to your project file:

[code]

You can then use the `.csproj` for CI and use the `.sqlproj` for editing.

[2020-08-26 11:14] shawty commented on #41
@jmezach Thanks, I'll give that a try and let you know how I get on.

[2020-08-26 11:20] shawty commented on #41
Absolutley Erik.

Everything I've read that lead me to this point, suggests that your project is the solution, for not only my case, but TFS based builds that break with the same tooling errors too.

The best way to test it, is to build a regular .NET core web-api service, then add a new project to that solution, and make the project type be an SQL one.  Then use a linux machine set up with the st

[2020-08-26 11:46] ErikEJ commented on #41
I have a blog post here describing the "buddy" project scenario: https://erikej.github.io/efcore/2020/05/11/ssdt-dacpac-netcore.html

[2020-08-26 11:48] ErikEJ commented on #41
Maybe a simple change to the docs:

Usage
The simplest usage is to create a new .csproj project file with the following contents:

[2020-08-26 12:12] shawty commented on #41
Yep, that makes it clearer that you shouldn't replace the SQL Project.

I would also put the link to your blog post in there too.

At a minimum I would say

"The simplest usage is to create a new .csproj project file, alongside all the existing files, with the following contents:"

[2020-08-26 13:27] jeffrosenberg commented on #41
Our usage may not be typical, but what we're doing on my team is committing only the .csproj file, but maintaining a script that can be used to generate the .sqlproj file on an adhoc basis. Because the .csproj file supports wildcards, it doesn't need to be changed with each commit like the .sqlproj file does. So most of the time, we rely on just the .csproj file and develop in a text editor. When

[2020-08-26 13:31] shawty commented on #41
thanks @jeffrosenberg more fuel for the fire :-)

[2020-08-26 13:45] shawty commented on #41
Still getting a bit stuck here.

Trying Erik's approach from his blog post, and dotnet core build is getting confused.

![image](https://user-images.githubusercontent.com/1876454/91311174-ae1fd600-e7aa-11ea-8751-dfba33d5aed1.png)

[2020-08-26 13:47] shawty commented on #41
and if I try it at solution level:

![image](https://user-images.githubusercontent.com/1876454/91311544-1cfd2f00-e7ab-11ea-9a0e-5b0a5a35b7db.png)

[2020-08-26 13:49] ErikEJ commented on #41
As @jmezach wrote, and as clearly stated in my blog post, do not have both the .sqlproj and .csproj in the same folder.

[2020-08-26 13:59] shawty commented on #41
ah ok, I missed that bit... dunno why... ok, trying again.

[2020-08-26 14:19] shawty commented on #41
Even with everything in 2 separate projects, the command line build still fails.

![image](https://user-images.githubusercontent.com/1876454/91315236-59cb2500-e7af-11ea-9c3e-2e10a7790a9e.png)

In VS19 all is ok :

![image](https://user-images.githubusercontent.com/1876454/91315282-6b143180-e7af-11ea-87da-f2d39386aced.png)

But the command line has gone back to my very first error now, failing beca

[2020-08-26 14:26] ErikEJ commented on #41
You need to exclude the .sqlproj from your build configuration.

[2020-08-26 14:27] shawty commented on #41
Annnnnndddddd.... W0000000 H00000000 :-)

On a hunch, I turned off building of actual db project solution wide, and now everything works perfectly.

![image](https://user-images.githubusercontent.com/1876454/91316372-a3683f80-e7b0-11ea-866d-0f49c29617bf.png)

🎉🎉🎉🎉

[2020-08-26 14:28] shawty commented on #41
Github didn't update the page until I posted my reply....

[2020-08-26 14:29] shawty commented on #41
@ErikEJ if you don't object, I'm gonna blog this, and point folks both at your blog post, this project/issue and repeat the steps from your post with a bit extra detail.

Cheers
Shawty

[2020-08-26 14:46] ErikEJ commented on #41
Excellent, the more noise the project makes, the better!

[2020-08-26 14:54] shawty commented on #41
LOL... I won't copy it, but I will follow the same process, just using my own words.

[2020-08-26 15:02] ErikEJ commented on #41
I have updadated my blog post.

[2020-08-26 15:27] jeffrosenberg opened #43 "DacpacTool invocation fails on Windows if the maximum command length is exceeded"
Apparently there's a limit to the length of a command sent at the Windows command line ([8191 characters](https://support.microsoft.com/en-us/help/830473/command-prompt-cmd-exe-command-line-string-limitation), possibly up to [32767 in some situations](https://support.thoughtworks.com/hc/en-us/articles/213248526-Getting-around-maximum-command-line-length-is-32767-characters-on-Windows)). Because Da

[2020-08-26 15:35] jeffrosenberg commented on #43
As mentioned, I've been able to work around this, so it's a low-priority issue for me personally, but I wanted to make sure it got logged so it could be dealt with at some point.

[2020-08-26 16:20] jmezach commented on #41
Thanks @ErikEJ for updating the docs. I think there isn't much more we can do here.

FYI: I've recorded a [dotnetFlix](https://www.dotnetflix.com) episode today about this project demoing it which also goes into converting an existing project, etc. Should be coming online soon.

[2020-08-26 16:20] #41 closed

[2020-08-26 16:33] ErikEJ commented on #41
Looking forward to watching!

[2020-08-26 16:37] shawty commented on #41
@jmezach kewl, I'll have to watch that.    I'll reference it from my blog post too, which I'll be writing later on this evening.

[2020-08-26 16:44] shawty commented on #41
@jmezach by the way if your interested, I routinely do sessions for .NET channels and such like, so if you'd like me to do a video session on dotNetFlix, do feel free to reach out to me.  I'm one of the management team behind "LiDNUG (The Linked .NET Users Group on Linked-in)" (Lidnug.org) if you want to get in touch.

[2020-08-26 20:40] shawty commented on #41
@ErikEJ and others - blogged : https://shawtyds.wordpress.com/2020/08/26/using-a-full-framework-sql-server-project-in-a-net-core-project-build/

[2020-08-30 12:04] jmezach commented on #43
I guess we could write a list of files that are part of the project to a temporary file in the `obj` folder and then read that file from the `DacpacTool`. Shouldn't be too hard to do with the MSBuild built-in `WriteLinesToFile` task. If anyone's willing to sent a PR for this that would be great!

[2020-08-30 12:46] #26 closed

[2020-08-30 12:47] jmezach commented on #26
I've just added a contribution guide to the repository including the note about debugging locally.

[2020-08-31 08:15] #24 closed

[2020-08-31 19:19] jmezach commented on #24
An initial set of templates has shipped with [1.4.0](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/releases/tag/v1.4.0). If additional item templates are needed please don't hesitate to file an issue or submit a PR.

[2020-09-01 11:09] knoxi opened #45 "add support for .refactorlog"
I'm migrating our builds to linux based container builds.
I tried out to add an additional project as mentioned in [this blog](https://erikej.github.io/efcore/2020/05/11/ssdt-dacpac-netcore.html).
Comparing the output, I noticed that the `refactor.xml` is missing in the dacpac, which is based on the `[ProjectName].refactorlog` file.

Is this already supported? Do I have to reference the refactorlo

[2020-09-01 11:33] jmezach commented on #45
@knoxi That's a great question actually. I'm not sure how this works exactly with the existing SSDT projects. Could you share an example of the `.refactorlog` file and the resulting `refactor.xml` file in the dacpac? That might give us some pointers as to what has to happen to make this work.

[2020-09-01 13:22] jeffrosenberg commented on #45
I think that, similar to how the `<PostDeploy />` element is handled, you'd want to take the path of a `<RefactorLog />` element and use it to set [`PackageOptions.RefactorLogPath`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dac.packageoptions.refactorlogpath?view=sql-dacfx-150).

[2020-09-01 14:15] jmezach commented on #45
That looks easy enough to add. But I think the `.refactorlog` file will only be modified when you make changes to the original `.sqlproj`. That won't be a problem for people using the "companion" project approach I guess, but for those that use the `.csproj` exclusively that wouldn't work so we''l have to make that abundantly clear in the documentation ;).

[2020-09-01 15:07] jmezach opened #46 "Announcement: Video introduction"
For anyone looking for a video introduction to this project you can now watch [this dotNetFlix episode](https://dotnetflix.com/player/104) in which I go through getting set up and some of the things you can do.

[2020-09-01 15:07] #46 closed

[2020-09-01 15:08] knoxi commented on #45
Regarding the two files, it looks that easy as @jeffrosenberg mentioned above.
[refactorlog.zip](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/files/5157144/refactorlog.zip)

We actually have only solutions with "companion" project approaches, so it would be really great to get this support.Of course this should be clear in the docs for the `.csproj` usages.
So then we can expect a fast update ;-)

[2020-09-01 15:16] jmezach commented on #45
Quickest way would probably be submitting a PR. I don't think I'll have time to implement this soon.

[2020-09-01 15:20] knoxi commented on #23
@jmezach some news when the merge SQL scripts support will be available?
This one is currently blocking us from upgrading our solutions to container builds and it would be great to have this feature available.

[2020-09-01 15:22] jeffrosenberg commented on #23
If nobody else is looking into this, I may attempt it in the near future, as it's also important for my organization. I can try to work on it next week.

[2020-09-01 15:23] jeffrosenberg commented on #43
I'll take care of this at some point. This isn't a really high priority for me, but as you mentioned, it shouldn't be too difficult, so I'll try to get a PR in for it this week or next.

[2020-09-01 15:44] jmezach commented on #23
This isn't very high on our priority list since we are not using this in our projects. I did some initial work on it in `feature/sqlcmd-file-merging` which wasn't very successful in that it wouldn't work in cross-platform scenarios. I then tried again in `feature/sqlcmd-merging-v2` by re-using code from another project (using a git submodule). That looked a bit more promising in that I was able to

[2020-09-01 15:45] ssa3512 commented on #23
This is definitely a big blocker for my org as we use includes heavily.

[2020-09-01 15:46] jmezach commented on #43
That would be awesome! Really appreciate all the work you've been putting into this.

[2020-09-02 06:33] knoxi commented on #45
I created a PR for supporting .refactorlog

I couldn't test the changed `SDK.targets`, for the Dacpac tool implementation I have added unit tests.

[2020-09-02 09:17] jmezach commented on #45
I've just released v1.5.0 with support for this. Thanks to @knoxi for his work on this.

For some reason the new template pack got released as a beta. Something went wrong during CI which I'll need to figure out.

[2020-09-02 09:17] #45 closed

[2020-09-02 12:01] jmezach opened #48 "Incremental build ignores changes to pre/post deploy script"
It seems that the incremental build support added in #34 ignores any changes made to pre- and/or post-deploy scripts. They are not part of the inputs, thus the `.dacpac` isn't being regenerated. This is probably also the case for the `.refactorlog` file added in #45.

[2020-09-02 13:16] lastlink opened #49 "TSQLT install"
* how would we include tsqlt as part of this build?
* I'm trying to get tsqlt unit test framework to work w/ a dotnet core build on a linux machine for devops pipelines such as github actions

## troubleshooting
* if I could do a dacpac of tsql then I could include that for the models but that doesn't appear to be supported. such as from https://github.com/GoEddie/AdventureworksCI/tree/v0.2/src/Te

[2020-09-03 06:11] jmezach commented on #49
I've had a look at [tSQLt](https://tsqlt.org/) since I have to admit I've never heard of it before. Looking through the docs it seems to rely on SQLCLR. When we started this project we made a deliberate choice to ignore SQLCLR initially since we weren't using it ourselves. That doesn't mean it can't be made to work, we just don't know what would be needed to make it work since we have no experienc

[2020-09-03 07:28] jmezach commented on #27
@stevebelskie @JonDBA Is either one of you actively working on this? No worries if not, just looking for a status update ;).

[2020-09-03 10:37] jmezach opened #50 "Issue for users on Windows with spaces in their username"
We've internally identified an issue with MSBuild.Sdk.SqlProj that would cause a build to fail when using this package on Windows and you're username has a space in it. The build would fail with the following error:

[code]

This was caused by a bug in the `Sdk.targets` file that invokes the `DacpacTool` from the SDK's installation folder where the path wasn't being properly quoted, causing the bu

[2020-09-03 10:43] #50 closed

[2020-09-04 13:34] jeffrosenberg opened #51 "Add support for package references to other databases"
In SSDT, when adding a reference to another database project, you're given three options:

1. Same database (i.e. the referenced project will be combined with yours)
2. Same server, different database (i.e. the referenced project represents another database on the same server on which our project has a dependency)
3. Different server, different database (i.e. the referenced project represents anot

[2020-09-04 14:15] jmezach commented on #51
My guess would be that the exception your seeing is caused by the deployment trying to deploy things in the `master` database because they are part of the model. Looking at the stack trace I'm guessing you're using SqlPackage.exe to deploy it. Have you tried using `dotnet publish`? Maybe that will give us some more insights into what's failing.

I'll have to do some digging around the DacFx model

[2020-09-04 14:29] jeffrosenberg commented on #51
Yes, that was my interpretation as well -- SqlPackage is trying to pull the `master` database into the model. I can give `dotnet publish` a try and see if that provides more information.

[2020-09-04 15:24] ErikEJ commented on #51
Please share a repro .csproj and a .dacpac.

During publish, both the master.dacpac and the mydb.dacpac should be present/available.

[2020-09-04 15:32] jeffrosenberg commented on #51
@ErikEJ I can confirm that both dacpacs are present and available. I actually created my own Nuget package that pushes master.dacpac into our Nuget repository in order to ensure that's the case. I may not be able to post repro files until Tuesday, as it will take a bit of work and I have other activities I need to get completed at work today first.

@jmezach I tried running via `dotnet publish`, b

[2020-09-04 16:15] jeffrosenberg commented on #51
Okay, this was actually quicker to put together than I anticipated. I've pushed the source code, as well as the binaries (.dacpac and .nupkg files) to the following repo: https://github.com/jeffrosenberg/db-test

On the branch `bug/master-reference`, I have two commits:

[Commit 1](https://github.com/jeffrosenberg/db-test/tree/7a1c7606af5f60557e7d45ef74f250fd8f65cda8): No master reference, `dotnet

[2020-09-05 07:52] jmezach commented on #51
I did some reflection and I think what we need to do is add additional metadata [here](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/blob/192c4e992057ff1c4f4932d78dd0a50b522f95b0/src/DacpacTool/Extensions.cs#L18). Specifically we need to set the `ExternalParts` metadata. My guess is that this would be set to the value of the `DatabaseVariableLiteralValue` item metadata value on the `ArtifactRefere

[2020-09-05 13:24] ErikEJ commented on #51
This is CustomMetadata for a master.dacpac reference in model.xml based on a .sqlproj:

[code]

[2020-09-06 12:05] jmezach commented on #51
@jeffrosenberg I've published a [beta version](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.6.0-beta.7.gbbd7fe56aa) that I believe will fix this issue. Would you mind giving it a try on your projects? You'll need to update the SDK version in your project file and then add the `DatabaseVariableLiteralValue` attribute with the appropriate value to your package reference and then rebuild your

[2020-09-06 13:58] #30 closed

[2020-09-06 14:03] jeffrosenberg commented on #51
Wonderful, thanks so much for looking at this so quickly! I've run a test with the beta version, and can confirm a successful publish. Thanks again!

[2020-09-06 14:05] ErikEJ commented on #51
Well prepared for the November release!

[2020-09-06 14:34] jmezach commented on #51
No problem. You've already done so much on this as well.

Which reminds me, would you consider becoming a Collaborator on this project? Usage is definitely increasing so it would be great to have an extra pair of hands to help review PR's and triage issues, etc.

[2020-09-06 14:50] jeffrosenberg commented on #51
@jmezach I'd love that, thank you!

[2020-09-06 14:57] jmezach commented on #51
@jeffrosenberg Awesome! You should have received an invite. Please note that we are requiring 2 factor authentication so if you haven't set that up you'll need to do that in order to accept the invite.

[2020-09-06 15:17] #51 closed

[2020-09-06 15:31] jmezach commented on #51
Version 1.6.0 is now up on NuGet.org which contains the support for this. Thanks again @jeffrosenberg for reporting this.

[2020-09-07 13:51] jmezach opened #54 "Improve error messages for validation"
Before the `.dacpac` is written the `DacpacTool` will perform a validation of the model. This can yield errors and warnings which are currently written to the console. These are picked up by Visual Studio and show up in the Errors List as you would expected. However, they are not correlated to the source file nor the source location on which the error occurs. This data is probably available in the

[2020-09-07 15:09] ErikEJ commented on #54
I will have a look.

[2020-09-08 17:40] #43 closed

[2020-09-08 17:55] jmezach commented on #43
Version 1.6.1 that contains the fix for this is now up on NuGet.org.

[2020-09-08 18:07] ErikEJ commented on #54
Need to investigate the difference between GetErrors() and Validate

[2020-09-09 06:33] jmezach opened #57 "Announcement: Master branch is now protected"
This is just a heads-up to let everyone know that we've just setup branch protection for the `master` branch to avoid accidental pushes to that branch. New code changes should be submitted through pull requests that require at least 2 reviewers and must also pass the CI build.

@ErikEJ @jeffrosenberg Tagging you I though this will be important for you ;).

[2020-09-09 06:33] #57 closed

[2020-09-11 21:20] stevebelskie commented on #27
@jmezach I haven't been able to find the time recently to tackle this, so anyone else should feel free. Otherwise, I'll try to revisit next month if I can find the time.

[2020-09-12 07:31] jmezach commented on #27
No problem, we aren't in a rush here. Take all the time you need. In the mean time if anyone else wants to implement this please feel free to do so and let us know here.

[2020-09-14 19:04] #54 closed

[2020-09-14 19:10] #48 closed

[2020-09-15 18:09] jeffrosenberg commented on #23
Quick status update: This is in progress; I hope to have a PR for review this week or early next.

[2020-09-15 18:32] jmezach commented on #23
That's great news @jeffrosenberg. If you need any help with this please let me know.

[2020-09-16 19:07] ActivationRequired commented on #39
@jmezach This enhancement is needed if a database project has a reference to a linked server and SQLCMD variables are being used. The build will fail for instance when creating a view.  It seems this would be easy to implement by just extending the `AddSqlCmdVariables` extension method on `TSqlModel` and updating how `Sdk.targets` build processes the `SqlCmdVariableArguments`. Also, what about usi

[2020-09-16 19:24] jmezach commented on #39
Yeah, I don't think it is very hard to implement, just haven't gotten around to it yet. We'd have to do some gymnastics to resolve the values for the variables though. As shown in the example earlier there's a value and a default value item metadata where the value is referencing an MSBuild property. We'll probably have to do something like if the Value metadata doesn't have a value, then pass the

[2020-09-16 21:18] ActivationRequired commented on #39
I also ran into the limitation of [#43](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/issues/43). I guess my thought about using the appsettings.json files could reduce all the parameters being set in the .csproj file. This could be used similarly to a publish profile.

I was thinking about the `IConfigurationBuilder` because I was thinking about the possibility of using the secrets manager, envir

[2020-09-17 06:16] jmezach commented on #39
Of course we could extract the core logic into a separate NuGet package and ship that, but I don't think it would add much on top of what [Microsoft.SqlServer.DACFX](https://www.nuget.org/packages/Microsoft.SqlServer.DacFx/150.4904.1-preview) already provides so I don't see much value in doing that.

Perhaps I'm struggling to understand what you're trying to achieve. Could you elaborate a little b

[2020-09-17 19:32] jmezach commented on #23
Support for this got added in [1.8.0](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.8.0) thanks to @jeffrosenberg.

Pinging @gregj77, @mrozwod, @ltk-mpadelsky, @MarkIannucci, @knoxi, @ssa3512 and @whighsmith since they seem to have been waiting for this feature to drop. Please let us know if this covers your scenario's and if it doesn't don't hesitate to file an issue.

[2020-09-17 20:35] jeffrosenberg commented on #23
@jmezach looks like 1.8.0 actually got cut just before my commit, so this change isn't in there 😕

[2020-09-17 20:41] jmezach commented on #23
Hmm, then something must have gone wrong. I'll have a look.

[2020-09-17 20:45] jmezach commented on #23
You're right. I guess my local master branch wasn't up-to-date when I prepared the release. Pretty sure I pulled all the changes but I guess I was too soon or something. Anyway, I've cherry-picked the commit to the release branch, bumped the version number and the CI is running now. 1.8.1 that includes these changes should be up on NuGet momentarily.

[2020-09-17 20:45] #23 closed

[2020-09-21 07:40] axelgenus opened #62 "How to deploy on a server with non-standard TCP port (1433)."
I've tried different combination but it seems like "dotnet publish" does not support specifying the server port to use for deployment. Is there any specific syntax to use?

What I tried:

/p:TargetServerName="localhost,5000"
/p:TargetServerName="localhost:5000"
/p:TargetServerName="(localhost,5000)"

All returns:

[code]

Also I tried looking for a "TargetServerPort" in the project source code to

[2020-09-21 07:49] axelgenus commented on #62
Sorry, I just found out that this issue is actually related to MSBuild (see https://github.com/dotnet/msbuild/issues/2999).

This is actually feasible escaping the double quotes like this:

/p:TargetServerName=\"localhost,5000\"

[2020-09-21 07:49] #62 closed

[2020-09-21 08:50] jmezach commented on #62
@axelgenus Glad to hear you've managed to resolve this. Perhaps we should add this to the docs.

[2020-09-22 13:37] kevcrooks opened #63 "[Question] Is there a way to set up the project to only build if source files change?"
At the moment, if I set up the project then run a build it will say "1 succeeded".

If I run the build again without changing any files, I'd like the build to be skipped (i.e. "1 up-to-date" instead of "1 succeeded" in Visual Studio)

Is there a way to do this, or is it not possible, because we always need to reproduce the `dacpac` file?

[2020-09-22 13:45] jeffrosenberg commented on #63
We do currently support incremental builds. I'm not sure about what controls the specific verbiage coming out of MSBuild, but if no files are changed, the project isn't re-built.

[2020-09-22 13:46] jmezach commented on #63
@kevcrooks It should not recreate the `dacpac` file on every build, but I do believe that Visual Studio still reports `1 succeeded` instead of `1 up-to-date`. I'm not entirely sure why that is. Perhaps the way we've implemented it doesn't match with the expectations that Visual Studio has.

Is this a problem for you? If so I would like to understand why. We shouldn't be "waisting" resources.

[2020-09-22 13:52] kevcrooks commented on #63
Thank you, I'll check this, the main reason I'd like this is so I can add a `dotnet publish` to our Database as a post-build step (before my dependent projects), but I think it was getting into a build loop because the `dotnet publish` was doing another build.

I may not be doing this the best way, but I noticed that I was previously using `1.6.0`, so I'll see if this works now I'm on `1.8.1` - pl

[2020-09-22 13:59] kevcrooks commented on #63
I've just checked and I'm seeing the same on `1.8.1`.

The main thing I'd like is to be able to deploy the Database as part of a build - but only if the build has changed (so I'm not needing to deploy every time). At the moment I've tried adding:

`dotnet publish --no-build --no-restore --no-dependencies`

as a post-build step, but this is triggering a recurring set of builds.

My backup plan is t

[2020-09-22 14:07] jeffrosenberg commented on #63
@jmezach looking at the [incremental build docs](https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-build-incrementally?view=vs-2019) again, I think the difference here is that what's being skipped is our `CoreCompile` target, not the entire build. I'm not sure whether there's a way to actually skip the entire build, though, because we need some of the earlier targets in the build to gen

[2020-09-22 14:09] jmezach commented on #63
If you're doing a `dotnet publish` and the `.dacpac` hasn't been build yet, it should do a `dotnet build` for you. If the `.dacpac` has been build and none of the source files have changed it should just use the existing `.dacpac` that's already there.

If that's not the case, please let us know because then there might be a bug.

[2020-09-22 14:12] jmezach commented on #63
@jeffrosenberg Hmm, maybe that could be resolved by making the `Build` target dependent on the targets we need and then put the Inputs and Outputs on that target instead.

[2020-09-22 19:15] mgrosperrin commented on #40
Hello,
for information, the `DatabaseSqlCmdVariable` defines the name of the variable you can use in your scripts to reference the database/project.

[2020-09-25 18:51] BenjaminAbt opened #64 "How to handle master database reference"
I have two projects
- MyProject.Database.Mssql - classic Sqlproj project to develop the database
- MyProject.Database.Mssql.Build - to build the DACPAC

My Sqlproj  project has a reference to the master database. Otherwise Visual Studio would throw some errors like

Error	SQL71501	Error validating element [dbo].[ViewName]: SqlView: [dbo].[ViewName] contains an unresolved reference to an object. Ei

[2020-09-25 19:18] jeffrosenberg commented on #64
Hi @BenjaminAbt - the [1.6.0 release](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/releases/tag/v1.6.0) added support for PackageReferences to external databases. To do this, you add a `PackageReference` element with the attribute `DatabaseVariableLiteralValue` set to the name of the target database. For example:

[code]

However, there's one caveat to this approach. Per #40, the project currentl

[2020-09-25 19:23] jeffrosenberg commented on #64
@jmezach @ErikEJ I think this is a relatively-common problem for users -- at least, we've heard about this issue several times, including from myself with #51. It would be technically simple for us to wrap up `master.dacpac` ourselves and publish it to NuGet to avoid the workaround I described above, but I don't know much about the licensing involved. I suspect that might be a problem, do either o

[2020-09-25 19:36] jmezach commented on #64
Yeah, I agree that this will become a problem as we see more adoption. I wouldn't mind to publish the master databases as NuGet packages on NuGet.org, but I'm really not sure if that is something we can do due to licensing.

I remember having a conversation about this with @ErikEJ a while ago about something similar and he mentioned that we're doing Microsoft a favor here, but that was a small thi

[2020-09-25 19:42] ErikEJ commented on #64
Maybe it would be better to include as embedded ressource ,- I think there is also version issues.

[2020-09-25 19:53] jmezach commented on #64
@ErikEJ Not sure what you mean. Do you mean including the master.dacpac as part of the `DacpacTool` as an embedded resource and then always include a reference to that as part of the build pipeline?

I think that'll work, although we would probably have to write the embedded resource to disk somewhere first. I guess we could use the NuGet package cache for that though.

But what version of the `ma

[2020-09-26 06:25] ErikEJ commented on #64
Yes, just throwing out some ideas 😄

Something like  that.

Indeed, but we have the SqlServerVersion property available.

![image](https://user-images.githubusercontent.com/4169187/94332034-cf562b00-ffd1-11ea-9429-9beab66a93e4.png)

[2020-09-26 07:20] jmezach commented on #64
Yeah, I think we can add a reference to the proper `master.dacpac` based on the `SqlServerVersion` specified in the project file. I'm also thinking we might not have to make it an embedded resource, because that would significantly bloat the package since we're already building and packaging the `DacpacTool` for multiple target frameworks (`netcoreapp2.1`, `netcoreapp3.1` and `net5.0`) and we woul

[2020-09-28 09:29] kevcrooks commented on #63
@jmezach do you know if there's a workaround I can do on my end in the meantime - to get a build/publish to from the project only when the files change (I.e. so that any other project depending on it will run the build/publish step as part of its build, but only when needed)?

[2020-09-28 09:34] jmezach commented on #63
@kevcrooks It looks like you're specifically experiencing an issue with projects that depend on each other. We currently don't support project references yet (see #40) so I'm wondering how you've set things up. Could you share some of the relevant sections of your project file(s)?

[2020-09-28 11:20] kevcrooks commented on #63
@jmezach apologies I don't think I explained quite right.

My `SqlProj` doesn't need any dependencies, but I have a separate (e.g. console app) project that I'd like to depend on the `SqlProj` project, so that when I build my console app, the `SqlProj` project will `dotnet build` and `dotnet publish` if needed.

Here's some sample projects I've set up: One issue I'm having is that the post-build p

[2020-09-28 11:38] BenjaminAbt commented on #64
Hi, thanks for all of your feedback!

I have seen the functionality with NuGet packages, but I was not aware that this was also used or intended for system databases. Personally I think this is rather cumbersome, because it would mean an additional roundtrip due to the NuGet package, which I cannot maintain directly in the solution (build -> deploy -> restore).

I also think that a reference would

[2020-09-28 12:11] jmezach commented on #63
Ah, I think I understand what you want now. Basically you're looking for incremental publish (on top of incremental build) in that the publish is only performed if the `.dacpac` has actually changed. We already support incremental build, so I guess we could have the `.dacpac` as an `Inputs` on the `Publish` target.

But we'd also need an `Outputs` and I'm not quite sure what the best way would be

[2020-09-28 12:33] jeffrosenberg commented on #63
I'm not convinced we would want to add an incremental publish step here, since as you said, we'd really need to check the actual database, which I think is too heavyweight an approach. One thing I'd like to point out here is that by its nature, the publish step is **already** incremental -- it reads the state of the database and applies only those updates needed.

I think what the OP really wants

[2020-09-28 12:57] jeffrosenberg commented on #63
To clarify my comments above, my concern about the proposed design is that the last-updated time of the `.dacpac` file isn't necessarily a good way to judge whether a publish is needed -- we would really need to check the database. For example, what if the user is trying to publish to multiple environments? The first publish would succeed, but each subsequent publish would be skipped as not needed

[2020-09-28 13:05] ErikEJ commented on #63
Agree on "publish every time" - that is how DaxFX works - "desired state configuration"

[2020-09-28 13:11] kevcrooks commented on #63
@jeffrosenberg yes that's correct, it's what I'm aiming for. However `dotnet publish` as a post-build step won't work at the moment until your suggestion with the incremental build is done. At the moment a `publish` triggers a `build`, which in turn triggers a `publish` (if set as a post-build step) and so on... so I may need to wait until the incremental build fix is complete to get this?

[2020-09-28 14:02] jmezach commented on #63
I guess we could try the suggestion I made earlier and ship that as a beta version for @kevcrooks to try out. I'm fairly busy at the moment though, so I don't know when I'll have the time to make that change, so if there's anyone else who has time for this let me know and then I'll assign the issue.

[2020-09-28 14:04] jeffrosenberg commented on #64
@BenjaminAbt the "classic Sql projects" are able to assume the installation of SSDT, and so they solve this by referencing files that are installed along with SSDT. We can't make that same assumption for this project, so I don't think it's accurate to say this "already exists" for our purposes. But I'd also point out that even if we resolve this using a NuGet reference, NuGet would only perform th

[2020-09-28 14:07] jeffrosenberg commented on #64
@jmezach I think that solution would be fine; the one reason I might prefer publishing a `master.dacpac` NuGet package would be to keep the syntax for database references consistent, rather than having a totally different attribute for references to the `master` database.

That's not a dealbreaker for me, though, so I'm fine with either solution, but ultimately I think the big issue here will be w

[2020-09-28 14:08] jeffrosenberg commented on #63
@jmezach I can give it a try today or tomorrow. If that doesn't work, I don't know how much additional time I can commit to playing around with this, but I'll give your suggestion a try and see what happens!

[2020-09-28 14:14] jmezach commented on #63
@jeffrosenberg That would be awesome. I've assigned the issue to you for now. If it doesn't work let us know and we'll have another look at it.

[2020-09-28 15:19] BenjaminAbt commented on #64
How must the master database NuGet look like and/or be structured?

I put the master.dacpac into a NuGet pkg, put the pkg in local folder of the solution, references that folder to NuGet.config (to avoid publish to a NuGet server) and referred to it.
Visual Studio recognizes the NuGet package but the project still throws the error that the system tables cannot be found.

I suspect that the structu

[2020-09-28 15:39] jmezach commented on #64
@BenjaminAbt The NuGet package must have a tools folder and then inside the tools folder there should be the master.dacpac.

Also, how did you add the reference to your package to your project? Could you share that section of the .csproj?

[2020-09-28 15:45] BenjaminAbt commented on #64
The nuspec file:

[code]
cspoj

[code]

Solution show everything should be recognized:
![image](https://user-images.githubusercontent.com/6189336/94454271-f408f900-01b1-11eb-9fea-1ef5b16619e5.png)

but errors like

Error	SQL71501	SqlView: [dbo].[MyView] contains an unresolved reference to an object. Either the object does not exist or the reference is ambiguous because it could refer to any of the

[2020-09-28 15:49] jmezach commented on #64
That looks okay to me. @jeffrosenberg Is this also how you are doing it?

@BenjaminAbt Could you share the build output you're getting? It should tell you if the reference is correctly added.

[2020-09-28 15:53] jeffrosenberg commented on #64
Yes, that looks like what I have. I agree with confirming that the reference has been added.

@BenjaminAbt one thing you may need to do -- it's unclear from the above whether you have done this or not -- is to add the master .nupkg file to your local NuGet repository with something like this:

[code]
[code]

[2020-09-28 15:57] BenjaminAbt commented on #64
The package is located to a local solution folder named "packages" .
The local folder is added as source in the NuGet config

[code]

this is the recommended way to deal with solution-only nuget dependencies you dont want to push anywhere.
The package itself is also correctly found and resolved by NuGet. But obviously the content is not.

[2020-09-28 16:03] jeffrosenberg commented on #64
Yeah, looks like the package reference isn't being resolved properly. Here's what my `master.nupkg` looks like in my local NuGet repo, does yours look the same (other than names and version numbers)?

![image](https://user-images.githubusercontent.com/854827/94457524-49291880-017a-11eb-858e-1be3dd3771b4.png)

[2020-09-28 16:04] jmezach commented on #64
Looking at the logs I think the .dacpac isn't being resolved properly. And I think I know why. Currently we're assuming that the .dacpac file has the same name as the package ID. So you could try renaming the .dacpac file to the name of the package and see if that helps.

[2020-09-28 16:13] BenjaminAbt commented on #64
Yes, the way to rename to master works.

To name the dacpac to 'MyProject.Database.MasterAzureSQLV12' does not work.

[2020-09-29 05:27] jmezach commented on #64
@BenjaminAbt That's great news, glad to hear that works for you.

I am curious though why renaming the `.dacpac` file doesn't work. If we are going to publish the `master.dacpac` as a separate NuGet package I would rather not need to name that package `master` ;). Would you be willing to share a binary log (obtained using `dotnet build /bl`) with us so that we can figure out why that scenario is n

[2020-09-29 07:21] BenjaminAbt commented on #64
I created a demo project to show you my errors but in this case it works.

![image](https://user-images.githubusercontent.com/6189336/94525887-05471980-0235-11eb-932f-6dec07cdf7da.png)

![image](https://user-images.githubusercontent.com/6189336/94525921-12640880-0235-11eb-8a29-6deaf1c16fd0.png)

I will check what are the differences why to use another name like "master" does not work in my real pr

[2020-09-29 14:57] BenjaminAbt commented on #64
It works today in my projec too.
I guess it was a race condition of nuget caching... even if I think I have used restore with `--force`.

[2020-09-29 15:20] jmezach commented on #64
@BenjaminAbt Thanks for the feedback, really appreciate it.

@jeffrosenberg @ErikEJ I guess we could ship an MSBuild.Sdk.SqlProj.MasterDatabase package with various major versions matching the SQL Server versions so that people can reference that if they want to. That way the experience is the same for users own projects and the master database, rather than having a different way of doing things f

[2020-09-29 20:06] brettrowberry opened #65 "Change Name of DACPAC Output"
In my `.csproj`, `<TargetDatabaseName>DBName</TargetDatabaseName>` determines what my database will be called when I run `dotnet publish`. It doesn't influence what the the `dacpac` file is named when I run `dotnet build`. How can I change the name of the `dacpac`?

[2020-09-29 20:16] jmezach commented on #65
From what I've heard from @RVink you should be able to set `AssemblyName` in the project file and that will override the name of the resulting `.dacpac`. I do realise that this is a bit confusing, so perhaps we should have a separate property for it instead.

By default though, we use the name of the project file as the name of the `.dacpac` so you can also try renaming your project file to whatev

[2020-09-29 20:33] brettrowberry commented on #65
I was aware the project name determines the name of the `.dacpac`. The `AssemblyName` in the project file worked! I will send a PR for the `README` to explain this. Thanks!

[2020-09-29 20:43] jeffrosenberg commented on #64
@jmezach on the first question, I can see your point, but I see it a little differently -- you always get access to the API provided by the master database, particularly its functions and stored procedures. It's really a question of whether you need a three-part reference to its tables that determines whether you need a reference to it, and I see that as being much more similar to referencing anot

[2020-09-29 21:05] #65 closed

[2020-09-29 22:02] jeffrosenberg commented on #63
So far, I've managed to get the binlog to show that the `Build` step is skipped, but it hasn't resolved the problem of a circular reference when targeting the `PostBuildEvent`. I have a few more thoughts, so I'm going to stick with it for a bit longer.

[2020-09-30 04:17] brettrowberry opened #67 "Reference Another DACPAC Directly"
I inherited a database that depends on another database. Is it possible to directly reference the DACPAC of another database (without a NuGet package)?

[2020-09-30 05:46] ErikEJ commented on #64
Given that master.dacpac is only installed with Visual Studio and Visual Studio Build Tools, I think it is a no-go.

[2020-09-30 05:59] RVink opened #68 "Dotnet publish does not work when DACPAC output name is changed"
As described in #65 it's possible to change the name of the DACPAC output by setting the `AssemblyName` in the project file. However changing the output name breaks the `dotnet publish` command. This is because the publish command tries to use the DACPAC file based on the project name.

`C:\Users\rvink\.nuget\packages\msbuild.sdk.sqlproj\1.7.0\Sdk\Sdk.targets(199,5): error MSB3073: The command "do

[2020-09-30 06:01] RVink commented on #65
It's indeed possible to change the output name by setting the `AssemblyName` in the project file. However it breaks the `dotnet publish` command. I created #68 for this issue

[2020-09-30 06:10] jmezach commented on #67
We currently don't support something like `<Reference>` to allow you to reference another `.dacpac` that's somewhere on disk directly, rather than going through a NuGet package. Shouldn't be too hard to add I think.

That being said, you should consider the consequences of this for CI. If you're referencing another `.dacpac` on disk that `.dacpac` must be at the exact same location on disk on your

[2020-09-30 06:17] ErikEJ commented on #67
My impression was that this was currently not something this project wants to support.

[2020-09-30 06:37] jmezach commented on #67
As I said, I don't really see a need for supporting this, but if others think its useful I'm not against adding it. Let's wait and see if there are more people who need to have this before we implement this.

[2020-09-30 11:24] jeffrosenberg commented on #67
Apologies, but I'm not clear on how this differs from #40, what's the difference?

[2020-09-30 11:29] jmezach commented on #67
@jeffrosenberg I think the main difference would be that you reference the `.dacpac` directly to its location on disk, rather than resolving the output path of another project.

[2020-09-30 11:35] jeffrosenberg commented on #67
Ah, I see, that makes sense. I don't have a strong opinion on this one either way.

[2020-09-30 11:48] ErikEJ commented on #67
Too many options, IMHO:

![image](https://user-images.githubusercontent.com/4169187/94681335-8b418e00-0323-11eb-983d-65f695266f52.png)

[2020-09-30 12:05] jmezach commented on #67
@ErikEJ I agree there are too many options here and I don't know if we want to support them all. Let's leave this open so that we can gauge whether this is important for people.

[2020-09-30 12:12] BenjaminAbt commented on #64
But this (dependency to VS / VSBT) is in itself a requirement that you have with classic SQL projects anyway. So at least from this point of view this would not be a deterioration of the requirement at all.

[2020-09-30 12:15] brettrowberry commented on #67
I guess turning a `.dacpac` into a NuGet package isn’t that difficult.

[2020-09-30 13:24] brettrowberry commented on #68
I just observed the same thing. I guess I tried building but not publishing when I added `AssemblyName`.

I'm documenting my thoughts here.

`dotnet build` works when the following are defined:
- `AssemblyName`
- `TargetDatabaseName`
- `AssemblyName` and `TargetDatabaseName`
- neither is defined

`dotnet publish` works when the following are defined:
- `TargetDatabaseName`
- neither is defined

`d

[2020-09-30 13:38] brettrowberry commented on #64
To me, this project is about making it possible for me to not use Windows and Visual Studio (unlike classic SQL projects) - the only requirement is the .NET SDK.

[2020-09-30 13:40] brettrowberry commented on #64
For a given version of SQL Server, does every instance of SQL Server have the exact same `master` database?

[2020-09-30 13:54] jeffrosenberg commented on #64
Yes, the `master`, `model`, and `msdb` databases are shipped along with the SQL Server binaries and created at installation. Of course, users can modify these databases on a particular server after installation, but the base database definition is always the same.

[2020-09-30 15:10] brettrowberry commented on #67
How can I create a `.nupkg` for a `.dacpac` I already have? I'm imagining something involving a `.nuspec` file and the `dotnet pack` command.

[2020-09-30 15:12] ErikEJ commented on #67
Maybe this needs to be documented better?

[2020-09-30 15:13] jeffrosenberg commented on #67
Yeah, agreed, this would be a helpful thing for us to explain

[2020-09-30 15:19] brettrowberry commented on #67
In my case I have a `MyDatabase.csproj` and I need to reference `master.dacpac` and `msdb.dacpac`.

[2020-09-30 15:21] jeffrosenberg commented on #67
@brettrowberry in my experience, you actually want `nuget pack` here instead of `dotnet pack`, which implies building a dotnet project, as you mentioned.

Here's what my personal `master.nuspec` looks like for wrapping up the MS `master` database into a NuGet package:

[code]

[2020-09-30 15:23] brettrowberry commented on #67
`nuget pack` requires the `nuget.exe` available here https://www.nuget.org/downloads, right?

[2020-09-30 15:24] brettrowberry commented on #67
@jeffrosenberg I like what you have here because it allows me to package all the system `.dacpac`s and proprietary `.dacpac`s in one step.

[2020-09-30 15:27] brettrowberry commented on #67
This `.nuspec` lets you package `master`. Would it be possible to package multiple `dacpac` files with a single `nuspec`?

[2020-09-30 15:30] jeffrosenberg commented on #67
I believe that's correct. As a Mac user, I got it from `brew install nuget`, but pretty sure that's the same executable.

[2020-09-30 15:31] jeffrosenberg commented on #67
Yes, you definitely can, but I'm not sure it's advisable, since you want each to be a distinct package that you can reference directly in your main `.csproj` file.

[2020-09-30 15:45] brettrowberry commented on #67
`nuget.exe` requires Mono to run on Mac and Linux, right?

[2020-09-30 17:05] jeffrosenberg commented on #67
@brettrowberry yes, that's correct

[2020-09-30 18:40] brettrowberry commented on #67
Bummer, I would love to have a .NET SDK only toolchain.

[2020-09-30 19:14] ErikEJ commented on #67
You only need to create the master.facpac nuget once..

[2020-09-30 19:31] brettrowberry commented on #67
I guess that's why #64 is so interesting.

[2020-10-01 03:53] BRebey commented on #67
I would very much like this feature, too.  I get "handed" dacpac files from other projects from other parts of my organization, and I need to reference them while building my own DB's dacpac.  The NuGet package solution is cumbersome at best, and simply referencing a dacpac file locally would really be nice.

[2020-10-01 06:12] jmezach commented on #67
You should be able to build a NuGet package with custom content using a `.csproj` as well and use `dotnet pack`. That's basically what this project is doing, for example see [MSBuild.Sdk.SqlProj.csproj](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/blob/master/src/MSBuild.Sdk.SqlProj/MSBuild.Sdk.SqlProj.csproj) or the [MSBuild.Sdk.SqlProj.Templates.csproj](https://github.com/rr-wfm/MSBuild.Sdk.Sql

[2020-10-01 06:33] djluck opened #69 "Dry run/ logs on changes made by publishes"
`dotnet publish [my_db.sqlproj]` works well in local development but I'm a little wary of pointing it at our production environment, mostly because there seems to be no method of either previewing the changes that the publish command will make nor is there no log of the changes made.
Is there an option I can configure to get access to this functionality? If not, what would be required to implement

[2020-10-01 06:49] ErikEJ commented on #69
You can use sqlpackage /DeployReport https://docs.microsoft.com/en-us/sql/tools/sqlpackage?view=sql-server-ver15#help-for-deployreport-action

[2020-10-01 07:07] djluck commented on #69
Thanks Erik but I'm interested in running deployments (and any change reporting) on Linux- is sqlpackage.exe cross platform?

[2020-10-01 07:10] jmezach commented on #69
@djluck Yes, SqlPackage is available cross-platform. See here for more details: https://docs.microsoft.com/en-us/sql/tools/sqlpackage-download?view=sql-server-ver15

[2020-10-01 08:35] djluck commented on #69
Wonderful, thanks guys- I saw the .exe extension and feared it would be windows only.

[2020-10-01 08:35] #69 closed

[2020-10-01 14:45] BRebey commented on #67
Hey, all - I'm missing something and could use a hint.

- I'm using the technique described here:
     https://erikej.github.io/efcore/2020/05/11/ssdt-dacpac-netcore.html
- I have created a NuGet package, which contains two dacpacks that my DB depends on
- I have a nuget.config that indentifies a local location (within my project's directory structure) in which to find the package
- I have a packa

[2020-10-01 14:53] jeffrosenberg commented on #67
@BRebey would you be able to post the .csproj files for these two projects, along with the output of `dotnet build`? My best guess is that you'll want to wrap each of these dacpacs up separately, but that's just conjecture without a look at the projects.

[2020-10-01 16:50] BRebey commented on #67
Thanks for the feedback!  I'm punting on this for now - going to include dacpac from Windows build for POC, rather than build in real time in CI pipeline on Linux.  I've discovered errors that were suppressed in the DB build, which aren't suppressed in my  MSBuild.Sdk.SqlPrj build.  MSBuild.Sdk.SqlPrj may be working just fine;  it might just be a victim of other sloppy things in the DB project its

[2020-10-01 20:21] brettrowberry opened #70 "Deploying to older version of SQL Server error message is not clear"
I have a SQL Server 2016 database server.
I have a project file that includes `<SqlServerVersion>Sql130</SqlServerVersion>`.
`dotnet publish` works great!

`Sql120` also works. However, with `Sql140`, publishing fails with this error message. It's not obvious that it is due to a version mismatch.

[code]

[2020-10-01 20:58] jmezach commented on #70
Yes I noticed that the error messages being reported when the deployment is failing doesn't give the user much to go on. In fact when I was recording the dotnetFlix episode mentioned in the README I experienced this exact same problem.

I'm not sure what we can do about this. I think we'll need to do some digging to figure out if we can get more details about what's going wrong. I might have some

[2020-10-02 12:25] jeffrosenberg commented on #63
@kevcrooks I'm looking more closely at the [MSBuild documentation](https://docs.microsoft.com/en-us/visualstudio/msbuild/target-build-order?view=vs-2019), and I don't think `<Target Name="PostBuild" AfterTargets="PostBuildEvent">` will work the way you expect it to. Based on the target build order, I believe your post-build publish step will run every time:

After quite a bit of testing, I believe

[2020-10-02 13:24] jeffrosenberg commented on #67
I've pushed a PR for the documentation as discussed above -- no code changes, documentation only.

[2020-10-02 13:28] jeffrosenberg commented on #67
Are these errors or warnings? I have a build where I suppress warnings as follows:
`dotnet build myproj.csproj /nowarn:SQL71502`

[2020-10-02 13:32] kevcrooks commented on #63
@jeffrosenberg Yes you're right, I've just tested with the following app, and `dotnet build` runs both the pre-build and post-build steps every time. (However there's no infinite build loop in this example, because it's able to detect everything is up-to-date)

[code]

However from Visual Studio, once it detects that the project is "1 up-to-date" it doesn't run the pre- or post-builds after the fi

[2020-10-02 14:04] jmezach commented on #63
@jeffrosenberg I'm not entirely sure that we actually need the Publish target to depend on the Build target. We could perhaps just check if the output file exists (and fix #68 in the process ;)) and throw an error if it doesn't instructing people to run a `dotnet build` first.

Also, I'm not sure about this, but it might be that dotnet will implicitly run `build` before a `publish`. That might be

[2020-10-02 17:43] jmezach commented on #67
@jeffrosenberg @BRebey Note that you can also exclude warnings using the `<NoWarn>` property in the `.csproj` if you want.

[2020-10-02 17:44] jmezach commented on #63
Just tried what I described above, but it does seem that if we remove the dependency on the Build target the `dotnet publish` command doesn't run `dotnet build` behind the scenes.

[2020-10-02 18:08] jmezach commented on #63
Looks like the up-to-date check is actually a Visual Studio feature that is separate from the MSBuild logic. I found [this document](https://github.com/dotnet/project-system/blob/master/docs/up-to-date-check.md) that describes this feature. We might be able to implement that, although I'm not sure if this will solve the problem at hand.

[2020-10-02 18:15] jeffrosenberg commented on #63
Nice catch, that definitely explains what we're seeing

[2020-10-02 18:24] jmezach commented on #63
We should probably add a separate issue for tracking the implementation of the Visual Studio up-to-date-check. I might be able to throw something together this weekend and ship a beta version. Then we can ask @kevcrooks to evaluate whether it solves this issue. If it does that's nice, if it doesn't we can keep this open and explore further options.

[2020-10-02 18:28] jmezach commented on #64
@ErikEJ @jeffrosenberg I emailed @dzsquared about whether we can redistribute the `.dacpacs`. So far no response though.

[2020-10-02 19:37] dzsquared commented on #64
Sorry for the radio silence - I will check into the redistribution of `master.dacpac`.  As with @ErikEJ I suspect that this is a no-go but want to investigate as I understand the benefit.

[2020-10-02 19:49] kevcrooks commented on #63
Thanks @jmezach, yes happy to test any beta version next week

[2020-10-03 14:15] jmezach opened #73 "Hacktoberfest"
This is just an announcement that we are accepting PR's in light of [Hacktoberfest](https://hacktoberfest.digitalocean.com/). If you want to get involved with this project, the whole month of October is a good time to get started. Have a look through our [issues](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/issues) and let us know if you're willing to work on it.

Do make sure you read through ou

[2020-10-03 14:15] #73 closed

[2020-10-04 08:22] jmezach opened #74 "Support fast up-to-date check"
Looks like the up-to-date check is actually a Visual Studio feature that is separate from the MSBuild logic. I found [this document](https://github.com/dotnet/project-system/blob/master/docs/up-to-date-check.md) that describes this feature. We might be able to implement that, although I'm not sure if this will solve the problem at hand.

_Originally posted by @jmezach in https://github.com/rr-wfm/

[2020-10-04 08:42] jmezach commented on #63
@kevcrooks I've just uploaded a beta version that should fix the up-to-date check issue (for which I've created a separate issue, see #74). Could you give that a try and see if this also resolves your issue? Should be just a matter of editing your `.csproj` and swapping out the version number in the `Sdk` attribute on the `<Project>` element. Please let us know how that goes.

[2020-10-05 07:04] #40 closed

[2020-10-05 07:04] #74 closed

[2020-10-05 07:05] #70 closed

[2020-10-05 12:19] kevcrooks commented on #63
@jmezach I just tried the following version:
`<Project Sdk="MSBuild.Sdk.SqlProj/1.9.0-beta.5.g60d0950ebe">`
with the post-build:
[code]
but I didn't notice any difference in behaviour (the build was looping continuously still) - was this the beta version you meant?

[2020-10-05 13:55] jmezach commented on #63
@kevcrooks Yes, that seems to be the correct version. So I guess that just implementing the fast up-to-date check doesn't solve your issue then.

I had a look at what `dotnet publish` does behind the scenes, but it seems that the `--no-build` flag doesn't actually do anything. Looking at the [source code](https://github.com/dotnet/sdk/blob/master/src/Cli/dotnet/commands/dotnet-publish/Program.cs#L

[2020-10-05 18:10] #68 closed

[2020-10-05 23:04] brettrowberry commented on #68
Thanks for fixing this!

[2020-10-06 11:36] mkzx1 opened #79 "Adding an assembly registration to DB"
How do I correctly add an assembly to db project?
For example I have an empty project
[code]
 and I'm trying to create new assembly with sql script
[code]
when I try to build the project, I receive:
  _AddReference.sql(2, 6): [SQL70557] This assembly is corrupt or not valid._
I have this error with any assembly, I even try the Microsoft.SqlServer.Types.
So I must be doing something wrong.

[2020-10-06 12:00] jmezach commented on #79
@mkzx1 We don't currently support SQLCLR assemblies with this project (as noted in the [README](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/blob/master/README.md). Personally I have no experience with SQLCLR so I don't think I'm in the best position to help with this.

I am curious to understand your scenario's though. Could you elaborate a little bit about why you'd like this to work?

[2020-10-06 12:12] mkzx1 commented on #79
@jmezach We use some custom encryption library, and in DB we use user defined types from this library.

[2020-10-07 08:46] #79 closed

[2020-10-10 21:08] brettrowberry commented on #63
FYI I’m extremely interested in this work flow!

[2020-10-13 09:36] malevich-maxim opened #80 "Remove documented limitation on SQLCMD merging"
LIMITATION: Currently there is no support for including other scripts from the pre- or post deployment script using the :r OtherScript.sql syntax. See this issue for more details.

didn't noticed any actual issues about that, I've tried to create my own project and it's failed coz of that problem.
Is it working now or not?
Also attached my project, maybe I did something wrong
[DatabaseTest.zip](ht

[2020-10-13 09:39] jmezach commented on #80
@malevich-maxim This should be fixed as of version 1.8.1 and you are using 1.9.0 in your test project so I am curious to know what doesn't work for you. Could you share the error you are receiving?

[2020-10-13 09:41] jmezach commented on #63
@kevcrooks Have you managed to give the [suggested solution](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/issues/63#issuecomment-703648681) a try yet? If that works it might be worthwhile to make this a built-in (toggle-able) feature.

[2020-10-13 14:23] malevich-maxim commented on #80
@jmezach, sure, maybe stack trace will help

1>------ Build started: Project: DatabaseTest, Configuration: Debug Any CPU ------
1>Using package name DatabaseTest and version 1.0.0
1>Using SQL Server version Sql150
1>Adding C:\Work\ConsoleApp1\DatabaseTest\obj\Debug\predeploy.sql to the model
1>Adding C:\Work\ConsoleApp1\DatabaseTest\PreDeployment\Script.PreDeployment.sql to the model
1>Unhandled e

[2020-10-13 15:21] ErikEJ commented on #80
Or rename the folder from PreDeployment to Pre-Deployment :-)

[2020-10-13 15:41] jeffrosenberg commented on #80
Good point, although I think removing `obj` will still be needed in my experience. We might want to exclude that from the model automatically, since nobody would ever want it.

[2020-10-13 16:33] jmezach commented on #80
@jeffrosenberg If the merged SQLCMD scripts are written to `obj` then yes we should probably add that folder as a `<Compile Remove="obj/**/*.sql" />` [here](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/blob/0fb4ae0e6f5380fbadc8ef4a52ff0b9b3737d276/src/MSBuild.Sdk.SqlProj/Sdk/Sdk.props#L44).

[2020-10-14 08:11] kevcrooks commented on #63
@jmezach apologies just come back to this, but I'll try the workaround today or tomorrow.

Do you know if it's possible to fix the underlying issue of the project build loop in VS? If it's possible to match the behaviour of a standard console app where, when `dotnet publish` is in the post-build step, it will detect there is "1 up-to-date" so this doesn't have a build loop. As above, with this con

[2020-10-14 08:23] jmezach commented on #63
@kevcrooks Would you mind sharing a binary log of running a `dotnet build` on your console app that has that post-build step to run `dotnet publish`? I honestly wouldn't know what the difference would be between a console app and a sqlproj so I'll need some more details to figure out what's going on.

You can get the binary log by running `dotnet build /bl` which should give you an msbuild.binlog

[2020-10-14 09:11] malevich-maxim commented on #80
Thanks for all of you for help, and so sorry for inattentiveness

[2020-10-14 12:02] jmezach commented on #80
@malevich-maxim No problem. Thanks for reporting this. It still triggered us that we need to remove the documented limitation.

[2020-10-16 12:14] jeffrosenberg commented on #80
@jmezach sorry for my slow response, it's been a crazy week at work! I agree, I'll log an issue for that and take care of it today or early next week.

[2020-10-16 14:30] kevcrooks commented on #63
@jmezach I can't share the binlog unfortunately, but I've included more details to recreate as it's just two `csproj` files that I'm using:
For the console app:
[code]
For the SqlProj:
[code]
You can use the above project files to recreate, and if the behaviour of the console app can be matched, this will work fine for me. I think the problem comes from the SqlProj thinking that there needs to be

[2020-10-20 01:43] jeffrosenberg commented on #80
@jmezach not sure what's changed, but I wasn't able to reproduce the issue regarding the `obj/` directory. I know I've seen this before, and I see it in the stack trace [in this comment above](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/issues/80#issuecomment-707774125), but when I actually tried reproducing, I never saw a `.sql` file appear in that directory. So I'm not going to push a change t

[2020-10-20 08:00] #80 closed

[2020-10-28 13:04] lastlink opened #82 "missing references to build in table sys"
while trying to implement tsqlt sql classes I'm getting missing references to the **sys** schema. e.g. **[sys].[extended_properties]**.

[code]

[2020-10-28 13:05] lastlink opened #83 "add topic hacktoberfest"
Could we get the topic/tag **hacktoberfest** added to this repository so that pull requests merged during october get credited and attention drawn to this repository.

See https://github.com/topics/hacktoberfest and https://hacktoberfest.digitalocean.com/faq

===
Please at me @GoEddie so I receive a notification

[2020-10-28 13:09] GoEddie commented on #83
Happy to add it but if you are doing it just for October fest better find another repo as I won’t have time to review any changes before next week.

Probably the 2nd nov will be my first chance so I didn’t want to raise your hopes :)

[2020-10-28 13:24] lastlink commented on #49
It would be great if we could reference this dacpac directly rather than having to use a nuget package. Also see #82. I'm trying to get each view/ table to work and this sdk is missing build in sql server tables such as those on the **sys** schema.

[2020-10-28 13:35] jmezach commented on #83
@lastlink @GoEddie We already have that topic added to this repository, so I'm not quite sure what more we can do here.

[2020-10-28 13:37] GoEddie commented on #83
Hang on I thought this was a different repo! This is nothing to do with me :)

[2020-10-28 13:38] jmezach commented on #82
This is probably related to #64. We've asked Microsoft if we are allowed to redistribute the `master.dacpac`'s of various versions of SQL Server, but so far we haven't heard anything yet.

[2020-10-28 13:39] jmezach commented on #83
;) I think we can close this then.

[2020-10-28 13:39] #83 closed

[2020-11-04 03:36] brettrowberry opened #84 "Pass SQLCMD variable with dotnet publish"
I believe it’s possible to pass the value of a SQLCMD variable with `dotnet publish`. What’s the syntax?

[2020-11-04 15:49] jmezach commented on #84
@brettrowberry I guess it depends on how you've setup your SQLCMD variables in your project file. For example, let's consider the following example:

[code]

In this scenario you should be able to set `SqlCmdVar__1` from the command line using `dotnet publish /p:SqlCmdVar__1=SomeValue`. This should set the `TaskDb` SQLCMD variable to the value `SomeValue` at deployment time.

Please note that curr

[2020-11-04 16:33] brettrowberry commented on #84
This exactly solved my issue! I definitely think this should be added to the docs. I can put together a PR if you like.

That's what I was seeing. That's something I didn't notice in the docs (it might have been there, bit I missed it anyway). I think the `<DefaultValue>SomeValue</DefaultValue>` should be omitted from docs/samples if it isn't supported.

I'm not sure if I need `DefaultValue`. It w

[2020-11-04 17:05] brettrowberry opened #86 "SqlServerVersion"
I find it difficult to figure out what to put as the value for `<SqlServerVersion>` in the project file.

Let's assume I want to target `SQL Server 2016`.

First, I can map `SQL Server 2016` to `13.0` using this page:
https://support.microsoft.com/en-us/help/321185/how-to-determine-the-version-edition-and-update-level-of-sql-server-an

Next, I can map `13.0` to `Sql130` using this page:
https://do

[2020-11-04 17:32] brettrowberry opened #87 "PostDeploy, Content Remove, and Solution Explorer"
I have a script, `app_MyApp.sql`, that I would like to use in a `PostDeploy` step.

In order to do that, I used `Content Remove` and `PostDeploy Include` nodes.

Here is my project file:

[code]

Doing this removes `app_MyApp.sql` from the tree in Visual Studio's Solution Explorer.

Is there a way to exclude the script from the build while still showing it in the tree?

[2020-11-04 17:44] jmezach commented on #84
@brettrowberry I don't think there's a particular reason not to support the `DefaultValue` option other than not having the time to actually implement it. That being said I feel that you still set a default value in the project file if you want using something like this:

[code]

Using this, you can still set an alternate value for that variable if you want by passing it on the command line. We wo

[2020-11-04 17:51] jmezach commented on #86
Hmm, yeah, I can understand the difficulty in figuring these things out. I guess I'm just so used to mapping these numbers because I've been working them for a long time, but for newcomers it might not be that easy. Frankly it is mostly a side-effect of how Microsoft versions SQL Server internally.

I guess there's a couple of things we could do here. We could either improve the docs and point peo

[2020-11-04 17:52] jmezach commented on #87
@brettrowberry Haven't tried it myself, but maybe adding `Visible=True` to the `<Content Remove="..." />` element does the trick?

[2020-11-04 18:30] ErikEJ commented on #86
The readme links directly to SqlServerVersion ...

[2020-11-04 20:29] brettrowberry commented on #87
Great suggestion! Unfortunately:
`MSB4162	<Visible> is not valid. Child elements are not allowed below a item remove element.`

[2020-11-04 20:31] jmezach commented on #87
@brettrowberry Did you add `Visible` as an attribute on the `<Content>` element or as a child element?

[2020-11-04 20:42] brettrowberry commented on #87
[code]
Throws:
`<Visible> is not valid. Child elements are not allowed below a item remove element.`

[code]

In both cases, the `Users` folder (and the contained script) do not appear.

![image](https://user-images.githubusercontent.com/10521647/98165324-af106a80-1eb3-11eb-93b4-74fbe78dc609.png)

I guess VS Code users have the upper hand here!

[2020-11-04 20:52] brettrowberry commented on #86
The second link I shared [SqlServerVersion Enum](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dac.model.sqlserverversion?view=sql-dacfx-150) is in the README. The first, [How to determine the version, edition, and update level of SQL Server and its components](https://support.microsoft.com/en-us/help/321185/how-to-determine-the-version-edition-and-update-level-of-sql-server-an),

[2020-11-04 21:44] jmezach commented on #87
What happens when you keep the Content Remove element (without the Visible attribute) and then add a None element with Include="your-file.sql"?

[2020-11-05 14:10] brettrowberry commented on #87
This worked!

[code]

[2020-11-05 14:17] brettrowberry commented on #87
- `Content` node for removing from build
- `None` node for adding to tree viewer,
- `PostDeploy` node for adding as a postdeploy script

Is this a common enough workflow to document?
Is this the best way to do this?

[2020-11-07 02:58] brettrowberry commented on #84
I tried this out quickly and it worked. I'd like to play with it a little longer and make a PR to add to the `README`.

[2020-11-08 10:11] jmezach commented on #87
Personally i would probably but all my post deployment scripts into the Post-Deployment folder (so that they are excluded from the build by default) and then have a `PostDeploy` script that imports all of them (using the `:r script.sql` syntax). But I guess it's mostly a matter of preference and this will work.

[2020-11-08 13:22] brettrowberry commented on #87
I thought when I did that they were included in the build. I’ll give that another try.

[2020-11-09 20:18] IsaaacD opened #92 "Question - Is it possible to exclude Logins\RoleMembership in building dacpac?"
Sorry if this is the wrong place, but I'm wondering how we can configure so we don't update or delete any user logins? I'm looking at this SoF thread https://stackoverflow.com/a/43916061 and it seems to offer some guidance but I'm not having any luck getting the dacpac to ignore the items. Any pointers would be appreciated! Thanks.

[2020-11-09 20:23] ErikEJ commented on #92
Do you mean building or publishing?

[2020-11-09 20:24] jmezach commented on #92
These properties are usually set at deployment time and affect which objects are not deployed, but they will still be part of the `.dacpac`. If you're looking to ignore certain `.sql` files from the `.dacpac` you can change their build action to `None`.

[2020-11-09 20:42] IsaaacD commented on #92
I mean for both building and publishing. If I generate a sqlproj from my database and I try to build the solution, it has some issues building because (I suspect) the users are windows users. See below:
![image](https://user-images.githubusercontent.com/5303125/98593385-1574fe80-22a1-11eb-95f8-5a2d469f9237.png)

So the dacpac doesn't get created. If I delete the file wliu.sql the project is buildi

[2020-11-09 20:49] jeffrosenberg commented on #92
I don't believe the build issue you're seeing is because the users are Windows users, it's because there isn't a requisite login for them. You can fix that by adding a login object for them.

[2020-11-09 20:59] IsaaacD commented on #92
Thanks @jeffrosenberg I think you're right there's not the requisite logins, and I'm not even sure if these users are being used if there are no logins. I'm not the DBA and just looking to streamline the process so I can had a dacpac to someone without potentially having downstream issues and causing confusion if someone can't login.

I'm just manually trying to publish the dacpac using [SSMS](htt

[2020-11-09 21:10] jeffrosenberg commented on #92
@IsaaacD one thing I want to clarify before we go too much further here -- are you actually using this SDK as part of your project? I may still be able to help, but I'm starting to get the sense that your question isn't actually related to this particular project. We develop an extension to MSBuild that allows building database projects cross-platform using the SDK-style `.csproj` files, and are n

[2020-11-09 21:31] IsaaacD commented on #92
@jeffrosenberg This is a good clarification to make. I have to apologize and say my bad, it appears I actually did create a .sqlproj and I didn't use this SDK. That being said I meant to use this project and was just encountered a PEBKAC error (creating the SQL project in VS UI rather than dotnet CLI).

So, that being said. Taken from this SDK point of view, I see it doesn't produce a dacpac on th

[2020-11-09 22:11] jeffrosenberg commented on #92
OK, got it, thanks for clarifying. This SDK does produce dacpacs on build, so you're good there. I would recommend deleting the user objects from your database project to eliminate your build errors. How you proceed from there depends on how you're publishing:

- If you use SqlPackage to publish, then yes, you can do something just like what you posted
  - Even more simply, you could also skip the

[2020-11-09 22:59] IsaaacD commented on #92
@jeffrosenberg  Thanks again, I think I almost got it. I've added a new project to reference the sql files in my .sqlproj, and this is the resulting .csproj
[code]
So this should in theory be what I'm after. I can run  `dotnet build` and it produces a dacpac! But if I import the .dacpac into SSMS it still talks about dropping permissions. Is that a red herring due to the fact SSMS

as you had ment

[2020-11-09 23:10] jeffrosenberg commented on #92
I believe it's because of the advanced options. Since you've added the options to your .csproj file, I'd recommend trying to publish via the `dotnet publish` command. More info on that is available in our readme file.

[2020-11-10 00:15] IsaaacD commented on #92
Thanks for your help @jeffrosenberg, `dotnet publish` definitely works as expected. Cheers!

[2020-11-10 07:16] jmezach commented on #92
Looks like this issue can be closed, unless @IsaaacD feels we should improve our docs somehow?

[2020-11-10 10:29] vlado-github opened #93 "Question - Is there a support to specify port number for a TargetServer?"
Hello,

I have 2 docker containers
- mssql server
- dot-net core for building and publishing .sqlproj

Locally it runs, but in Docker I keep getting connection error to SQL server. I'd like to specify the port 1433 explicitly, if that could help, but I fail to find an option for that.

[code]

Thanks in advance!

[2020-11-10 10:37] jmezach commented on #93
@vlado-github Good question, there's currently no option to specify an alternate port. That being said, have you tried including the port number in `TargetServerName` using `:<port>` syntax? Not sure if it works, but I guess it is worth a try. Otherwise this will need to be implemented ;).

[2020-11-10 10:59] ErikEJ commented on #93
servername:1432 should work

[2020-11-10 15:04] #87 closed

[2020-11-10 15:29] IsaaacD commented on #92
@jmezach The documentation is good, I just was looking in the wrong place and especially because I was messed up with using a .sqlproj initially

[2020-11-10 15:29] #92 closed

[2020-11-10 16:19] vlado-github commented on #93
Note: the following example is run in powershell, therefore I'm using ``` as an escape character in password sample.

This runs successfully:
[code]
This one fails:
[code]

I have enabled both SQL and Windows authentication, and I can connect both ways via SSMS:
- localhost; sa; P@$$w0rd
- localhost,1433; sa; P@$$w0rd

[2020-11-10 19:28] brettrowberry opened #94 "Visual Studio Solution Explorer README.md Addition"
There is an unresolved comment from https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/pull/91 about working with Visual Studio's Solution Explorer that wasn't addressed. I plan to address it in a coming PR.

[2020-11-10 19:30] brettrowberry commented on #93
Perhaps try the same things as SSMS? `localhost,1433`

[2020-11-11 12:58] vlado-github commented on #93
Hi @brettrowberry

Thanks for the suggestion, unfortunately it didn't work:

Command:
[code]

Output:
[code]

[2020-11-11 15:15] alexszasz opened #95 "[Question] Update object files by comparing project to database"
Is there a way/plan to support taking changes from a development database and updating the sql files in the project, similar to how it is possible in Windows Visual Studio + SSDT (Schema compare + Update target)

[2020-11-12 09:23] jmezach commented on #95
@alexszasz This is more an IDE feature which we currently don't provide. That being said, you should be able to do this from an existing `.sqlproj` on Windows and use that as a "companion" project as described in [this blog post](https://erikej.github.io/efcore/2020/05/11/ssdt-dacpac-netcore.html).

Obviously that will only work on Windows. I do know that Microsoft is working on something for Azur

[2020-11-12 09:41] jmezach commented on #93
@vlado-github Could you try doing `dotnet publish /p:TargetServerName="'localhost,1433'"` (note the extra single quotes)?

[2020-11-12 09:47] ErikEJ commented on #95
The tooling in ADS is very new, and missing many design time features. ADS has a Schema Compare tool, that you can use together with the sqlproj support.

In addition, you can use sqlpackage /Action:Script to compare a live database with your .dacpac.

https://docs.microsoft.com/en-us/sql/tools/sqlpackage?view=sql-server-ver15#script-parameters-and-properties

I think all these processes are beyon

[2020-11-12 10:03] jmezach commented on #95
I agree with @ErikEJ that this is beyond the scope of what this project is trying to achieve. We do not currently have any plans to add this.

[2020-11-12 10:03] #95 closed

[2020-11-12 10:21] vlado-github commented on #93
Hello @jmezach
that one didn't work either. However replacing `,` with `%2c` worked:

Command:
[code]

Output:
[code]

I found this solution [here](https://github.com/dotnet/msbuild/issues/2999). It seems like a problem with MSBuild character escaping.

Thank you folks for your prompt answers, we really appreciate your work and project :+1:

[2020-11-12 10:24] jmezach commented on #93
@vlado-github Great to hear that this works for you.

IMHO this isn't a very great experience. We should at least document this, or perhaps provide a `TargetPort` property and fix this internally. @ErikEJ @jeffrosenberg What do you think?

[2020-11-12 11:25] poserdonut opened #96 "Using this template with .net 5"
Hi!

I'm trying to setup a build project for my sql-projects using this template in a .net 5 project. However I'm getting:

[code]

Is there an update planned that will work with .net 5?

[2020-11-12 11:27] ErikEJ commented on #96
Please share your csproj - it is "net5.0" btw

[2020-11-12 11:37] poserdonut commented on #96
It looks like this:
[code]

However it seems it suddenly started working. I don't know why. Sorry to bother you.

[2020-11-12 11:37] #96 closed

[2020-11-12 11:45] jmezach commented on #96
@poserdonut The original error message suggests that you were using 1.1.0 of MSBuild.Sdk.SqlProj. That version didn't support .NET 5 yet. We started supporting it in 1.6.0. Your second project file is using 1.9.0, so that's probably why it is working for you now.

That being said, we should probably upgrade our CI pipeline to use the stable .NET 5 release now that it is out ;).

[2020-11-12 12:44] ErikEJ commented on #93
Maybe just start by documenting it?

[2020-11-12 12:52] jeffrosenberg commented on #93
I feel like this could be added pretty easily, and would improve the
experience for at least a few people. Most of the time, it could just be
left to the default. Personally, I'd be in favor of adding it. Not a big
deal, but also should be pretty simple. I'd be happy to take it.

On Thu, Nov 12, 2020 at 6:45 AM Erik Ejlskov Jensen <
notifications@github.com> wrote:

--
Sent from my mobile

[2020-11-12 13:05] ErikEJ commented on #93
There are other ways to address the port (using aliases on Windows for example), that will conflict with that. Default should be not port specified.

[2020-11-12 13:17] jeffrosenberg commented on #93
Sorry, I said that awkwardly. Yes, I agree, what I meant to say is that most people wouldn't have to provide this at all, so it's just a benefit to those who can use it, not something that others need to worry about.

[2020-11-12 14:28] jmezach commented on #93
Yes, I agree the default has to be no port specified.

I'll open up a new issue for that and I'll assign that to @jeffrosenberg. I think this can be closed.

[2020-11-12 14:28] #93 closed

[2020-11-12 14:30] jmezach opened #97 "Support for specifying a non-default port number"
As discussed in #93 there is a way for users to specify a non-default port number when publishing a `.dacpac` to a SQL Server instance. Unfortunately it requires ugly escaping tricks to make it work properly. Ideally we would provide a `TargetPort` property that can be set at deployment time for users that need it, while we default to not having it specified.

[2020-11-12 14:30] #86 closed

[2020-11-13 05:52] brettrowberry commented on #64
@dzsquared I would really love to be able to reference NuGet packages for SQL Server system databases. Our apps are built and run in Docker containers. SQL Server with its Windows-only dependencies looks less and less appealing compared to PostgreSQL all the time.

[2020-11-13 06:44] ErikEJ commented on #64
Wonder how this is done in the Azure Data Studio extension for .sqlproj?

[2020-11-13 12:50] brettrowberry commented on #64
Here I thought Azure Data Studio was basically for querying:
https://docs.microsoft.com/en-us/sql/azure-data-studio/extensions/sql-database-project-extension-build

https://docs.microsoft.com/en-us/sql/azure-data-studio/extensions/sql-database-project-extension-build-from-command-line

[2020-11-17 11:32] iremezoff opened #98 "Fail on building project referencing to .csproj sql-project"
My test project is referencing to MSBuild.Sdk.SqlProj/1.9.0-sdk-based project.
Unfortunately  the test project can not be built because of error below:

```Database.dacpac' could not be opened -- An attempt was made to move the file pointer before the beginning of the file.	```

This is not a first error I got. Before the first one I got "file too small". I had added to db-project several new file

[2020-11-17 11:53] iremezoff commented on #98
Some other probably useful information derived from running `dotnet build -v diag`:

C:\Program Files\dotnet\sdk\3.1.402\Microsoft.Common.CurrentVersion.targets(2084,5): error MSB4018: System.InvalidOperationException: PE image does not have metadata. [C:\devenv\repo\TestLibrary\TestLibrary.csproj]
C:\Program Files\dotnet\sdk\3.1.402\Microsoft.Common.CurrentVersion.targets(2084,5): error MSB4018:

[2020-11-17 11:54] jmezach commented on #98
@iremezoff Would you mind sharing the contents of both project files? Based on the errors it seems that the `.dacpac` is being referenced from standard C# project which obviously isn't going to work.

[2020-11-17 12:00] iremezoff commented on #98
Sure. Both files are pretty simple
[code]

Database's one:
[code]

[2020-11-17 12:07] jmezach commented on #98
@iremezoff I'm wondering what you're expecting to happen here. You're trying to reference a SQL Database Project (that produces a `.dacpac`) from a C# project. I can understand why that fails, because I can only reference `.dll`'s from a C# project. Why did you add the project reference from your library project?

[2020-11-17 12:29] iremezoff commented on #98
The purpose is to have a .dacpac file in output directory of a c# project and further handle it through dacpac lib.

[2020-11-17 12:51] jmezach commented on #98
Ah, I see. Perhaps you can try adding `ReferenceOutputAssembly=False` as an attribute to the `ProjectReference` element in your library project.

[2020-11-17 13:00] iremezoff commented on #98
Oh, interesting. I've added and got no errors as well as no .dacpac file in the library's output directory nor anywhere else beside own db-project. So far I'm not sure it's possible what I want to achieve.

[2020-11-17 13:37] vlado-github opened #99 "Post-Deployment script: Incorrect syntax near :"
I've added a Post-Deployment Sql script as follows `Post-Deployment/Script.PostDeployment.sql`:
[code]

Now I keep getting this error during build:
[code]

[2020-11-17 13:40] jeffrosenberg commented on #99
My guess would be that you haven't declared this as a post deployment script in your .csproj file, can you please post the project file so we can confirm?

[2020-11-17 13:58] jmezach commented on #98
What if you also explicitly add `CopyToOutputDirectory=Always` to the `ProjectReference` next to the `ReferenceOutputAssembly=False`?

[2020-11-17 14:06] vlado-github commented on #99
My .csproj looks like this:

[code]

[2020-11-17 14:27] jeffrosenberg commented on #99
I find it odd that everything has a relative path starting with `..`, I'd recommend moving your .csproj file up one level. If you can't do that for whatever reason, you can add `<Content Remove="..\Post-Deployment\*.sql" />`. By default, the SDK removes content at `./Post-Deployment`, but because yours is at `../Post-Deployment`, you'll need to remove it manually.

[2020-11-17 14:48] vlado-github commented on #99
@jeffrosenberg
Yes that solves it. I moved them to the same level.

Thanks, sorry for your trouble.

[2020-11-17 14:49] jeffrosenberg commented on #99
Great! No problem at all, glad I could help!

[2020-11-17 14:49] #99 closed

[2020-11-17 16:08] iremezoff commented on #98
Solved.
Just added in parallel with your comment:
`<ProjectReference Include="..\Database\Database.csproj" ReferenceOutputAssembly="False" OutputItemType="Content" CopyToOutputDirectory="Always">`

Thanks so much for your time!

[2020-11-19 12:40] jmezach commented on #98
@ErikEJ @jeffrosenberg Do you think we should add this to the docs? Personally I prefer treating my `.dacpac`'s separately, but perhaps there are more people who would like to do this.

[2020-11-19 13:18] ErikEJ commented on #98
No, this seems to be quite one off.

[2020-11-19 13:21] jeffrosenberg commented on #98
Agreed, this seems like the sort of uncommon situation that one or two people might find via a Google search :-)

[2020-11-19 14:00] jmezach commented on #98
Okay. Then I'll go ahead and close this issue then ;).

[2020-11-19 14:00] #98 closed

[2020-11-21 16:22] kevin-david opened #101 "References to MS-SQL built-in schema create warnings?"
Great project! Unblocked my ability to build SSDT projects on my Mac as well as Windows 👍

Not sure there's an easy way to fix this, but figured it was worth reporting. I have some references to built-in SQL constructs and they create warnings during the build. Here's what they look like:

[code]

These are caused by doing something like this:
[code]

Is this something I'm doing wrong, or perhaps

[2020-11-24 19:39] jmezach commented on #97
Fixed in #100

[2020-11-24 19:39] #97 closed

[2020-11-24 19:40] jmezach commented on #93
@vlado-github We just shipped version 1.10.0 that includes support for specifying an alternate port number without having to resort to the nasty workaround.

[2020-11-28 16:37] kevin-david commented on #101
Just realized this is a duplicate of https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/issues/64 - sorry :)

[2020-11-28 16:38] #101 closed

[2020-12-02 15:19] kevcrooks commented on #63
@jmezach I wanted to check if you think the change we need might be possible? We're looking to migrate to this if possible, but need to know that it would be able to work in a pipeline as discussed in the repro before we do? Because of the environment variables, I can't share the bin file but I think the info above should be enough detail to reproduce on your end?

[2020-12-03 13:25] jmezach commented on #63
@kevcrooks I'm still wondering if you've tried the `<CallTarget>` workaround I described in [this comment](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/issues/63#issuecomment-703648681). I still think that'll solve your issue.

[2020-12-12 06:01] pada57 opened #103 "Error building while using postdeploy script and include sub-scripts"
Hello

i'm having issue to setup project which contains pre/post deployment "sub" scripts included via syntax ":r" or "r:"

[code]

Getting those kind of errors
[code]

I tried syntax ":r" and got `EXEC : error SQL46010: Incorrect syntax near :.

Here my csproj file
[code]

[2020-12-12 07:34] jmezach commented on #103
@pada57 Thanks for getting in touch. Based on the errors it seems that your post deployment script is being included as part of the build which is not supported. I noticed a `<Content Remove="..." />` element in your project file that was commented out. I think you'll need to uncomment that.

If that still doesn't work could you share the full build output? That would give us some more to go on.

[2020-12-12 07:56] pada57 commented on #103
I commented as I had before remove postdeployment.sql script and then build pass but with no postdeploy in dacpac. I then use postdeploy tag element and got this error due to sqlcmd lines it seems, is it supported?
When I remove :r or r: then it passed build but without including subscripts
I use that in ssdt project without issue

[2020-12-12 08:42] jmezach commented on #103
You'll need to have both the `<Content Remove="" />` and `<PostDeploy Include="" />` elements in your project file. The first one ensures that the script will not be included in the build process and the second one makes sure that the script is included as a post deployment script. The reason you need both is that by default we include all `.sql` files in all folders except for the `Pre-Deployment

[2020-12-12 13:41] pada57 commented on #103
Yes works ! thanks a lot @jmezach

i like dotnet publish compare to sqlpackage.exe. Does it support to give a publish file as parameter ?

i have issue when setting option to drop objects not in source and trying to preserve security objects for instance Users
[code]

i can use sqlpackage if not supported yes as dacpac is produced.
Great work guys, i really appreciate this project as i want to get

[2020-12-12 14:01] jmezach commented on #103
@pada57 First of all thanks for the encouragement, that means a lot!

As for your questions, I'm not sure what you mean with publish file? Do you mean that you'd like to have support for generating the script that is run? I believe there is an open issue for generating a script to create the database from scratch, but that will not do a compare to an existing database so might not be what you're a

[2020-12-12 14:14] pada57 commented on #103
More talking about using like for sqlpackage.exe a publish file which contains all props for a deployment avoiding having to enter on CLI all parameters which are very long with preserve instructions.
[code]
i will use sqlpackage as you said for time being for managed environments

No it doesn't happen but parameters are different since sending params for each do NOT drop flag
[code]
i can open se

[2020-12-12 14:18] jmezach commented on #103
Yes, please open a separate issue for that. As for the publish profile that is currently not supported and I don't think we'll be adding that. If you want to avoid having to type them every time you run dotnet publish you can set them in the project file if you want.

[2020-12-12 14:23] pada57 commented on #103
yes thought about that but as can be different from environments. I don't like to mix build and publish props
Thanks for all

[2020-12-12 14:28] pada57 opened #104 "Publish option ExcludeObjectTypes not working with multiple values"
hello

i have issue when setting option to drop objects not in source and trying to preserve security objects for instance Users and Views seems like after semi-column not take value, tried with quotes and double quotes without success. When setting one object type works!
[code]
With sqlpackage.exe it does work but use different sets of flags
[code]

thanks in advance for your help

[2020-12-12 15:32] ErikEJ commented on #103
I kind of wish that the "publish" feature was not added, so the project can focus its effort on building .dacpacs - there are so many things sqlpackage can do that it will be impossible to catch up.

So in my opinion, anything that does not work in the current implementation should be referred to sqlpackage.

[2020-12-13 16:21] ErikEJ opened #105 "Mentioned in Microsoft blog post"
Just FYI: https://devblogs.microsoft.com/azure-sql/programmatically-parsing-transact-sql-t-sql-with-the-scriptdom-parser/

[2020-12-13 16:21] #105 closed

[2020-12-14 15:11] jmezach commented on #104
@pada57 Just a quick question, have you tried to put the `ExcludeObjectTypes` property in the project file and do you get the same problem there?

[2020-12-14 15:13] jmezach commented on #103
@ErikEJ I agree. I feel that we added publish support purely to support developers who need to quickly deploy their changes to a local SQL Server instance so that they can test them. But perhaps we can make that explicit in the README and refer to SqlPackage for more advanced scenario's. Hopefully that avoids a couple of questions.

[2020-12-14 15:15] jmezach commented on #82
Closing this as a duplicate of #64

[2020-12-14 15:15] #82 closed

[2020-12-14 15:19] jmezach commented on #67
Since we've explained how to build a NuGet package from a `.dacpac` as an alternative for this ask I'm going to go ahead and close this issue. Feel free to re-open if people feel this is still important.

[2020-12-14 15:19] #67 closed

[2020-12-15 10:45] kevcrooks commented on #63
@jmezach I set the target as I think you mean, but I get an error in VS with a "There is a circular dependency in the target dependency graph..." I used the same `csproj` files as above for a console app and the `SqlProj`, but edited the `SqlProj` file to this:
[code]
Can you let me know the corrections to this `SqlProj` file that should work using the CallTarget in the suggestion?

[2020-12-15 12:24] kevcrooks commented on #63
The closest I was able to get after a bit more playing around was this
[code]

This has the behaviour that it will _always_ publish when building from VS and the command line (but at least without a circular dependency).
I think this is because of the bug mentioned before that (if I remove the extra `Target`), VS always tries a build, i.e. "1 succeeded" instead of "1 up-to-date".

I think that if

[2020-12-15 15:03] pada57 commented on #104
yes same using ExcludeObjectTypes or DoNotDropObjectTypes on project file XML
i will use sqldeploy.exe anyway as not part of this project

[2020-12-16 12:47] jeffrosenberg commented on #103
Yup, I agree as well. In my mind, the big distinction is that the rest of the project provides support for missing functionality on non-Windows systems, while SqlPackage works on those same systems today, so there's no gap to be filled.

[2020-12-18 07:10] poserdonut opened #106 "Problem building "buddy project""
Hi!

I'm trying to use a buddy project to build my sql projects.

The buddy project has this csproj file.

[code]

![image](https://user-images.githubusercontent.com/61051475/102584823-7a750d00-4107-11eb-81d7-91e84298b7d8.png)

There is an Insurance.dacpac file being.

However when running build on the buddy project I get the following error.
[code]

So I tried copying the command line for the bui

[2020-12-18 07:16] ErikEJ commented on #106
You should not reference the .sqlproj

[2020-12-18 07:27] poserdonut commented on #106
Oh, so I misunderstood the project reference stuff.

Does this mean if I have several different databases (sql projects) I will need a buddy build project for each of them?

[2020-12-18 07:37] jmezach commented on #106
Project references only work with other projects that use `MSBuild.Sdk.SqlProj` yes. You can't add a project reference to a `.sqlproj`.

[2020-12-18 07:53] poserdonut commented on #106
OK, thank you for the quick responses.

[2020-12-18 07:53] #106 closed

[2020-12-21 11:06] kvchernyaev commented on #39
Hello! Is it right that i cannot use
select * from [$(OtherDatabase)].dbo.AnotherTable
now? And that this issue is about that?

[2020-12-21 12:44] jmezach commented on #39
@kvchernyaev That depends on where you're using it and what error message you receive. Could you elaborate on that?

[2020-12-21 13:01] kvchernyaev commented on #39
I need to create a view that consolidates data from tables in my DB and other DB - it is a report in microservises architecture.
In .sqlproj i wrote

<ItemGroup>

    <SqlCmdVariable Include="OtherDatabase">
      <DefaultValue>OtherDatabaseName</DefaultValue>
      <Value>$(SqlCmdVar__3)</Value>
    </SqlCmdVariable>
  </ItemGroup>

<ItemGroup>

    <ProjectReference Include="..\..\..\OtherDataba

[2020-12-21 13:02] kvchernyaev commented on #39
And DB name must be in a variable - it is not the same for different servers (test, prod etc)

[2020-12-21 15:14] jmezach commented on #39
Yes that sounds like this issue. We're not currently working on this. If you feel this is important to you please consider submitting a PR.

[2021-01-12 15:43] michael-huxtable opened #108 "Project References - `dotnet build/msbuild` + ProjectReference database objects"
Hi,

I've been enjoying this project so far and the ability to build these database projects using `dotnet build` and docker. I've been trying to migrate a couple of projects using project references over to using this project but when trying to build within docker using `dotnet build` or `dotnet msbuild` I get the following project reference error:

[code]

Is the intention that project reference

[2021-01-13 07:43] jmezach commented on #108
Hi @michael-huxtable, thanks for reporting this. The first error message you shared seems to suggest that you're trying to reference an MSBuild.Sdk.SqlProj project from a regular .NET project. This is not supported because that would mean you would compile an assembly (`.dll`) against a `.dacpac` which obviously wouldn't work.

If that is not what you're trying or intended to do then I would ask y

[2021-01-13 08:30] michael-huxtable commented on #108
Thanks for the quick reply. I've put a sample project together and added it to my github here:

https://github.com/michael-huxtable/MSBuild.Sdk.SqlProj.ProjectReference

In the example, I have 2 buddy projects to build both of the new csproj databases, and I am not referencing the sqlproj files that I can see. If you run the following from the build root:

`docker build -t database --build-arg Con

[2021-01-13 08:50] jmezach commented on #108
Looking at those errors I think they might be caused by #39. It looks like the build is failing to resolve the references to the objects in the referenced project because the SQLCMD variable used to reference them isn't passed at build time. I don't think that issue would be hard to fix, we just haven't gotten around to implementing it yet.

[2021-01-13 09:52] michael-huxtable commented on #108
In this example, is there a way to workaround the SQLCMD variable and just access the DB name directly? Sorry if I assumed that the project references would allow this sort of behaviour at the moment.

[2021-01-13 10:15] jmezach commented on #108
After looking at your sample project I'm thinking the issue might be caused by the project reference being defined as:

[code]

I think that `DatabaseLiteralValue` should be replaced with `DatabaseVariableLiteralValue` to make this work. Could you try that to see if that resolves your issue?

[2021-01-13 10:21] michael-huxtable commented on #108
Ah yes! apologies. To get this working then, I had to:

- Remove the database variable name for the database project reference
- Update the view to reference the other database directly

At this point, the newer csproj file builds but then the older sqlproj does not due to being unable to reference that database name, but that should be enough to get me moved over to the new format!

Thanks

[2021-01-13 11:59] jmezach commented on #108
Alright, I'll go ahead and close this issue. Feel free to re-open if you still feel there's an issue here.

[2021-01-13 11:59] #108 closed

[2021-01-15 09:03] pada57 opened #109 "Is it possible to create SQL CLR dll ?"
Hello,

Is it possible to generate like for sqlproj SQL CLR dll out of MSBuild.Sdk.SqlProj project ?

Tried and only dacpac is generated in bin folder. I have set to c# compiler SqlFunctions.

If yes how to proceed and sign/version this dll generated ?

Thanks a lot

[2021-01-15 09:25] jmezach commented on #109
@pada57 Currently we do not support SQLCLR assembly generation as part of the build process and we don't currently have plans to add support for this. To be honest I'm not sure what the plans are for SQLCLR, but I don't think it is being actively developed or maintained.

That being said it is not impossible to add, so I'll leave this issue open for now to gauge interest in this feature.

[2021-01-15 13:05] verhoofstad opened #110 "Posibility to run post-deployment scripts of dependencies"
Can it be possible to run the pre- and post deployment scripts of your dependencies too?

[2021-01-15 13:24] jeffrosenberg commented on #110
This is already possible in a somewhat roundabout way; I do this today in some of my projects.

The pre- and post-deployment scripts allow includes of other files, which can be used to reference the scripts of your dependencies. I would typically couple this with a sqlcmd variable for the dependency path, so it doesn't need to be hardcoded, which could be brittle.

[2021-01-15 13:28] jmezach commented on #110
@jeffrosenberg Interesting. But doesn't that mean that you'd need to have the source code of the referenced project on your local machine as well? That feels kind of heavy since you already have the `.dacpac` of the referenced project there.

I was actually thinking of making this a feature of `MSBuild.Sdk.SqlProj`. I totally understand why `SqlPackage.exe` doesn't do this, because you'd want to d

[2021-01-15 19:29] jeffrosenberg commented on #110
@jmezach my use case was for working with SqlPackage, so yeah, that's somewhat different than what you're proposing. I have to admit, I'm not totally sure what this would look like, but interested to see what you come up with! 🙂

[2021-01-16 05:55] pada57 commented on #109
@jmezach thanks for you quick reply.

SQLCLR is used in my company and still supported in Sql Server 2019 and azure. Don't think will go away soon as support for external language as R, Python have been added recently.

Main benefit i see now for using MSBuild.Sdk.SqlProj is to avoid merge conflicts in rather big team as having small project file.
For most of our projects i will not migrate to it

[2021-01-16 08:49] jmezach commented on #109
First of all thank you for your feedback @pada57. To clarify my previous comment I'm not saying that SQLCLR support is going away and I can't really comment on that anyway since I don't work for Microsoft. But I don't see Microsoft investing much into it anymore. I guess it is more a matter of us simply not using it within our company so I don't think we will be adding support for it anytime soon.

[2021-01-16 10:18] ErikEJ commented on #109
Is it not possible to use globbing with the classic csproj files (to avoid merge conflicts)?

[2021-01-16 14:44] pada57 commented on #109
unfortunately you can edit sqlproj files with wildcards but on project reload subfolders and items are added as Include. This is beauty of new csproj files which are based on exclusion rules instead of inclusion as for SSDT.

[2021-01-16 14:50] pada57 commented on #109
Agree for intellisense i'm not using it usually a lot in ssdt editor as already other alternatives to get this feature even with SSMS.

What i mean is project properties is using an editor to show all database properties which are quite a long list organise quite well on ssdt project, can be valuable for developers as exploratory place for db props. I'm not using it usually as said as i prefer to

[2021-01-16 16:17] jmezach commented on #110
I've started some initial work on this in the `feature/pre-post-dependencies` branch. It is already working fairly well for our test projects, but it needs a bit more work. Most notably we'll need to supply some default SQLCMD variables (for example: `DatabaseName`) as users will probably expect those to be set.

We might also need to figure out what SQLCMD variables have been defined by the refer

[2021-01-16 16:23] ErikEJ commented on #110
The SQLcmd variables issue could be as reason why this is not available with sqlproj?

[2021-01-16 20:33] jmezach commented on #110
@verhoofstad A [pre-release version](https://www.nuget.org/packages/MSBuild.Sdk.SqlProj/1.11.0-beta.16.g9a5ba98c5e) of MSBuild.Sdk.SqlProj is up on NuGet.org. Could you give that a spin to see if it resolves our issue? You will need to update the SDK version number in the `.csproj` and also add the new `RunScriptsFromReferences` property to it.

[2021-01-18 15:55] #110 closed

[2021-01-18 16:13] jmezach commented on #110
@verhoofstad A stable release is now available on NuGet.org.

[2021-01-18 18:12] jmezach commented on #104
I did some digging into this issue and it looks like semicolon separators for these values are a bit problematic due to how they are parsed by shells. I have an implementation that works with comma's instead and that works just fine.

Technically that would be a breaking change though, but since this property (and others as well) can't be used currently I'd rather not make the fix for this a 2.0.

[2021-01-18 18:16] ErikEJ commented on #104
Is it not just a bug fix then?

[2021-01-18 18:20] jmezach commented on #104
Yeah, except that if anyone had `DatabaseSpecification`, `DoNotDropObjectTypes` or `ExcludeObjectTypes ` in their project files using semi-colons they would now have to change that to be comma separated or it won't work anymore. But then again, it doesn't work currently so I guess we can treat this as a bug fix anyway. I'll send in a PR soon.

[2021-01-18 18:23] ErikEJ commented on #104
Add a check for the presence of semicolons and throw?

[2021-01-18 18:26] jmezach commented on #104
@ErikEJ That's not a bad idea actually ;). I'll add that in.

[2021-01-18 18:35] jmezach commented on #84
@brettrowberry As of version 1.11.0 we now support the `DefaultValue` element (or attribute) as a fallback value and it is also explained in the README. Closing this as I don't think there's much more here that we can do.

[2021-01-18 18:35] #84 closed

[2021-01-18 18:39] jmezach commented on #94
@brettrowberry Do you still plan on creating a PR for this? If not that's fine, just looking for a status update here.

[2021-01-19 15:33] #103 closed

[2021-01-19 15:33] #104 closed

[2021-01-20 07:35] stobias123 opened #113 "Fileglobs with Postdeploy scripts?"
I have a whole bunch of post deploy scripts, and the build tips over when I try to run with the shown config

[code]

Is there a proper way for me to include the whole directory of post deploy scripts in one line?

[2021-01-20 13:00] jeffrosenberg commented on #113
@stobias123 the build is only meant to handle one pre-deployment and one post-deployment script. This is the case for .sqlproj-style projects as well. However, you can reference a post-deployment script that then uses sqlcmd syntax to include other files, like so:

[code]

[2021-01-21 04:44] #113 closed

[2021-01-21 07:40] jmezach commented on #113
I would like to add that we could of course add this as a feature, but I don't think that has much value since the order in which these scripts run is most likely important. With globs you don't have any control over their ordering so I don't think such a feature would make sense.

[2021-01-21 22:29] PyroSA opened #114 ":r relative path not working on linux"
Version: MSBuild.Sdk.SqlProj/1.11.1

We're using mcr.microsoft.com/dotnet/core/sdk:3.1-buster on our docker-based build.

**Expectation:**
:r scripts in a relative path should be included and and run in the post-deploy script.

**Actual:**
Error - file not found.

**Detail:**
The container is Debian 10 based - Linux.

When running dotnet build on there for the dacpac project, we have an issue with

[2021-01-22 07:13] jmezach commented on #114
This sounds like a bug. I'm guessing we'll need to normalize the included path so that it is compatible with the underlying file system which obviously is different between operating systems.

@jeffrosenberg If I remember correctly you worked on this feature. Do you know if there's a place in the pipeline where we could fix this?

[2021-01-22 12:27] jeffrosenberg commented on #114
@jmezach I have a crazy day today, but happy to look at it over the weekend

[2021-01-22 12:56] jmezach commented on #114
@jeffrosenberg Sure, no rush. From what I understand @PyroSA already has a workaround for now.

[2021-01-22 17:32] PyroSA commented on #114
Correct, Workaround is to put the postdeploy.sql and the childscript.sql in the same folder, so you don't need a path.

This should get the same error:
https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/blob/master/test/TestProjectWithPrePost/Pre-Deployment/Script.PreDeployment.RelativePathIncludes.sql

[2021-01-24 23:04] sarvasana opened #115 "MSBuild.Sdk.SqlProj cannot find dotnet when installed in $HOME/.dotnet"
I used the [`dotnet-install.sh`](https://dotnet.microsoft.com/download/dotnet-core/scripts) script provided by Microsoft to install version 3.1.405 of dotnet-core.

When I use Jetbrains Rider to compile a database project using `MSBuild.Sdk.SqlProj/1.11.1`, the build fails with the below error.
It appears the MSBuild scripts fail to find the SDK.

When the SDK is installed at `/usr/share/dotnet` t

[2021-01-25 00:39] jeffrosenberg commented on #115
That's interesting... looking at the command being issued, it's just `dotnet`, without any sort of path qualifier.

I don't know anything about Manjaro Linux, but I notice that in your version info that you posted, you showed the value of the variable `$path`, as opposed to `$PATH`, and Linux is usually case-sensitive. Is `$path` really the right variable? Is it possible that it should be `$PATH`,

[2021-01-25 01:16] jeffrosenberg commented on #114
@jmezach I would say the solution to normalizing paths between operating systems is to just use a forward-slash, as forward-slash is compatible with all operating systems, including Windows. Since there's an existing way to handle normalizing paths, I'd say that would be more robust than trying to convert them within our project.

In fact, I can confirm this works fine on my own company's projects

[2021-01-25 16:14] PyroSA commented on #114
@jeffrosenberg

Weirdly - this seems to work as expected now that the post-deply script in a post sub-folder.

With the same-folder setup:
:r ./InsertScripts.sql -> works
:r InsertScripts.sql -> works
:r .\InsertSrcipt.sql -> fails (file not found)

Moving the script into a post/Data subfolder:
With the same-folder setup:
:r ./Data/InsertScripts.sql -> works
:r Data/InsertScripts.sql -> works
:r .

[2021-01-25 16:18] jeffrosenberg commented on #114
If this is running on linux, I think you'll need to use all forward-slashes for paths. I think that's where the remaining issues are coming from. They're portable to Windows, so it should be safe to just do a global replace.

[2021-01-25 16:22] PyroSA commented on #114
Initially the forward slashes were not working, but it might be an edge case somewhere.
With the current folder structure it works as expected.

The files being included that were not part of the csproj might be part of this.
I saw files added from /src/obj/ before I deleted that folder, even though it was not referenced in the csproj.

[2021-01-25 16:40] jeffrosenberg commented on #114
We've seen that issue before, and I feel like we talked about excluding `obj` from the content that gets built, but looking at the code, apparently we didn't do it. @jmezach @ErikEJ this seems like as good a time as any to add that exclusion, would you agree? I can push a quick PR for that.

[2021-01-25 16:46] PyroSA commented on #114
The 'add post/InsertScript.sql to model' no longer seems to appear.
I fiddled some, but made no real changes that would remove them.
Some of the unexpected behaviour might be caused by docker's cache - locally I now build those with no-cache to remove that unknown.

I'll be spending some time seeing if the actual dacpac works and extend it to include more tables/sprocs, but will keep an eye on thi

[2021-01-25 16:59] jmezach commented on #114
@jeffrosenberg Yeah, I was also under the impression that we didn't include anything in the bin/obj folders either but I would have expected that [here](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/blob/b5053dac8260f21f0c124c6a3b1fa1753dad3226/src/MSBuild.Sdk.SqlProj/Sdk/Sdk.props#L39-L45) and I don't see it. Might be good to add that.

[2021-01-25 17:02] jmezach commented on #115
We pretty much assume that `dottnet` is on the PATH since I think you'd need to have that anyway to do something useful. That being said I think we could look at if we can find the path where `dotnet` is located based on properties available within MSBuild. I would expect MSBuild to have some kind of logic for that somewhere. That would make this a little bit more robust I guess.

[2021-01-25 17:06] sarvasana commented on #115
Yes, I checked both $path and $PATH evaluate to the same value.

[2021-01-25 17:10] jeffrosenberg commented on #114
Yeah, agreed. I'll send that PR this evening my time.

[2021-01-25 17:12] jeffrosenberg commented on #115
I would argue that this shouldn't be necessary, as we should be able to rely on the OS to know how to run `dotnet`. That said, I don't know what's going on here, it seems like it should work.

[2021-01-25 17:14] sarvasana commented on #115
Then I suspect that somehow Rider is started on a shell different from the user shell and it is missing the path to dotnet on that shell.

[2021-01-25 17:17] jeffrosenberg commented on #115
Yes, I bet that's what's going on here. Is `dotnet` being added to your path in a startup script such as `.bashrc` or `.profile`?

[2021-01-25 17:19] sarvasana commented on #115
No, the default user shell is `zsh` so I added it to `.zshrc`.
Not at the same machine currently, but I can test out adding it to `.bashrc` or `.profile` tomorrow again.

[2021-01-25 21:16] sarvasana commented on #115
I added the following to `.profile`:

[code]

Both `bash` and `sh` can now find `dotnet`:
[code]

However, when building the database project from Jetbrains Rider, the build still fails with the same error, because it cannot find `dotnet`.

From diagnostics log I noticed that the dacpac tool is executed using the Exec task from Microsoft.Build.Tasks.Core.
Could it be that this task has no access t

[2021-01-26 00:59] jeffrosenberg commented on #114
@PyroSA just had another look at your comment above regarding the /src/post/Data scripts being included. While I stand by my general comment about using forward-slashes, I think you also need to use the globstar pattern here to cover subdirectories recursively:

[code]

[2021-01-26 03:23] PyroSA commented on #114
Correct - Only noticed that with the post/data/InsertScript.sql later.
Might have been why I saw the post scripts in the added list, with the caching causing a post/data script to remain after it was removed in the actual source folder.
We're sticking with the flat structure for now,

[2021-01-26 19:59] flakey-bit opened #117 "Adding package reference to DACPAC project does not result in .dacpac file being copied to bin directory"
In my solution (simplified) I have two projects:
- `Some.Namespace.Database` - this is the `MSBuild.Sdk.SqlProj` SDK project for producing the DACPAC
- `Some.Namespace.DataAccess` - this is a vanilla `Microsoft.NET.Sdk` (`netstandard2.0`) project containing C# data access code

I've added a project reference from `Some.Namespace.DataAccess` to  `Some.Namespace.Database` as follows:

[code]

When I

[2021-01-27 08:16] BjBlazkowicz commented on #114
Hi,

I get syntax errors on Windows when trying to include a post deployment script. Is this related?

[code]

[2021-01-27 10:27] jmezach commented on #114
@BjBlazkowicz The error message suggests that the script file is part of the build in which SQLCMD syntax is not supported. You'll probably want to change the build action for the offending script to `None` and make sure it is included in your pre or post deployment script using the `:r <script.sql>` syntax.

[2021-01-27 13:21] jmezach commented on #117
@flakey-bit This isn't currently build in unfortunately. In fact I'm even surprised that it builds at all because I would expect your project `Some.Namespace.DataAccess` to not compile since it would try to include a reference to the `.dacpac` file which obviously doesn't work.

That being said I do think this could be a reasonable scenario to support. According to the docs for the [project refere

[2021-01-27 13:41] ErikEJ commented on #117
A post build step could maybe also work?

[2021-01-28 10:25] BjBlazkowicz commented on #114
@jmezach Thanks for your input.

It seems that it only works if I do a 'Content Remove' on the post deploy scripts also:

[code]

[2021-01-28 11:51] jmezach commented on #114
@BjBlazkowicz Yes, that's indeed what's required and what I believe is documented in the [README.md](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/blob/master/README.md) as well but if you feel there's room for improvement there please let us know. Do note that by default we exclude the `Pre-Deployment` and `Post-Deployment` folders as noted in the README so you could rename `PostDeploy` to `Post-

[2021-01-28 11:51] #114 closed

[2021-01-29 15:48] MHacker9404 opened #118 "Build failure with master.db.dacpac...."
So I've gone thru the steps to create a master-db dacpac, and reference it in my build project - but I'm still getting unresolved references, and an additional error in the build project itself.
my build project:
`
<Project Sdk="MSBuild.Sdk.SqlProj/1.11.1">
    <PropertyGroup>
        <TargetFramework>netstandard2.1</TargetFramework>

        <SqlServerVersion>Sql140</SqlServerVersion>
        <Ba

[2021-01-29 15:59] jmezach commented on #118
@MHacker9404 I think you'll need to add `DatabaseVariableLiteralValue="master"` to the `PackageReference` element to mark it as an external database reference. Right now it assumes that the master objects are going to be part of the same database.

[2021-01-29 16:04] jmezach commented on #115
I believe that you always get passed down any environment variables from the parent process, so I honestly don't know why it doesn't work. I'm not familiar with Rider personally but perhaps it has a means of generating an [MSBuild Binary Log](https://github.com/dotnet/msbuild/blob/master/documentation/wiki/Binary-Log.md). That includes environment variables so that could give a clue as to what's h

[2021-01-29 17:15] MHacker9404 commented on #118
That didn't help any - still same errors....

If I remove the view that's referencing the system tables - then it builds fine.....it's a hacky work-around....

[2021-01-29 17:30] jmezach commented on #118
@jeffrosenberg If I remember correctly you've done this, right? Any idea what's going on here?

[2021-01-30 00:40] jeffrosenberg commented on #118
@jmezach that's all I've had to do in the past. I have a few thoughts, but it's hard to know for sure what's going on without some further information. @MHacker9404 can you please provide the full build outputs, rather than just the error logs? It's unclear to me whether the `master` database reference is being resolved successfully, or if the issue is in the view itself.

Based on the information

[2021-02-03 20:29] MHacker9404 commented on #118
If I do a VS build on the sqlproj with a master.dacpac reference - it builds fine with the view.  The problem is in the .Build csproj...

[2021-02-03 21:50] jeffrosenberg commented on #118
@MHacker9404 I'd like to see the full output when you run `dotnet build <yourproject>.csproj`

[2021-02-03 21:58] MHacker9404 commented on #118
Screenshot of project structure
build project
output

![project-snippy](https://user-images.githubusercontent.com/4184348/106814799-f0deb780-6640-11eb-8cae-746c673d5683.png)
[CloudKey.Build.csproj.txt](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/files/5921798/CloudKey.Build.csproj.txt)
[cloud-key-db-build.txt](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/files/5921799/cloud-key-db-build.txt)

[2021-02-03 23:15] jeffrosenberg commented on #118
It certainly looks to me like your `master.dacpac` dependency isn't being resolved. If it were, I'd expect to see that in the outputs.

In the image you posted, is that `master.dacpac.14.0.1.nupkg` the project you're trying to reference? Having  it as part of your main project isn't what you want, it should be built separately and pushed to your local NuGet repository. When you look in `$HOME/.nug

[2021-02-04 00:30] MHacker9404 commented on #118
yep....
![folder-snippy](https://user-images.githubusercontent.com/4184348/106827145-4c677000-6656-11eb-945e-afdcde48908d.png)

[2021-02-04 07:40] jmezach commented on #118
That looks alright to me, but looking at the build output it somehow doesn't seem to include the reference to the `master.dacpac`. Could you try running `dotnet build <your-project-file>.csproj -v detailed`. That should give us some additional output that will help us figure out what's going wrong here.

[2021-02-05 19:32] knoxi opened #119 "References to non .dacpac files should be validated"
I'm getting an exception building the dacpac. It looks like it's an error while calling a library by reflection.

Any idea how to dive into this and fix or workaround it?

[code]

[2021-02-06 01:00] jeffrosenberg commented on #119
@knoxi can you please share your .csproj file with us? From the outputs and the exception you received, it looks to me like you have a ProjectReference to a project whose artifact is a .dll file as opposed to a .dacpac file, which won't work.

@jmezach looking at the code, I don't think we're being defensive in validating that references are dacpacs, maybe we should use this issue as an opportunit

[2021-02-06 14:23] MHacker9404 commented on #118
Quick update - got this working with Azure Data Studio (from scratch), pivoted a little.  I should be able to get back and try this again early this week.

[2021-02-08 07:31] jmezach commented on #119
@jeffrosenberg Yeah, that makes sense. I'll rename this issue to reflect that.

[2021-02-08 12:55] jeffrosenberg commented on #119
@jmezach just let me know if you'd like to take this or if you'd like me to, this shouldn't be much work

[2021-02-08 13:00] jmezach commented on #119
To be honest I'm a little bit burned out at the moment due to personal reasons so if you'd like to take this that would be much appreciated!

[2021-02-08 13:03] jeffrosenberg commented on #119
No problem, I'll take care of this tonight or tomorrow :-)

[2021-02-08 15:04] knoxi commented on #119
We have created a custom SSDT extension for advanced database scheme migrations.
You can find it here: [SSDT Data Migration](https://github.com/4tecture/SSDTDataMigration)

I used this code base to reproduce the error above, I have only modified the TestProject file to use the SSDT project directly instead using the package we published. Then I finally can see an error, otherwise I wasn't able to

[2021-02-12 07:33] denis-peshkov opened #121 "Correct support for post-/pre-deployment templates"
I have Script.PreDeployment.sql
[code]
but building the project cause an error
[code]
with next error
[code]

[2021-02-12 07:38] ErikEJ commented on #121
Is it in the correct folder?

[2021-02-12 07:39] jmezach commented on #121
This is kind of by design since we include every `.sql` file by default and assume that they are DDL scripts that built up the model. You can fix this by changing the build action to `PreDeploy` in your project file.

@ErikEJ @jeffrosenberg Perhaps we should use this as an opportunity to improve the error message here. This is fairly common question we get.

[2021-02-12 07:43] ErikEJ commented on #121
How would we know if a particular file is a pre / post file?

[2021-02-12 07:49] jmezach commented on #121
;) I'm hoping the `DacModelException` would tell us in this case. But I haven't yet proved that theory.

[2021-02-12 12:07] jeffrosenberg commented on #121
One thing we could do is simply look for files named PreDeployment.sql or PostDeployment.sql when this error is raised. It's rare that people choose a different name, in my experience.

[2021-02-12 13:15] ErikEJ commented on #121
Yes, a filename ending with that could indicate it, but there is no way to be sure.

[2021-02-12 13:40] jeffrosenberg commented on #121
Understood, but I think it gets us 95% or more of the cases for very little effort. If we find a more reliable way, I'm all for it, but if not, I'd take something imperfect over nothing at all.

[2021-02-17 06:44] knoxi commented on #119
Thanks for the updated release.
I was able to fix my issue since I noticed that referenced project wouldn't work, I just added them for debugging purposes.

[2021-02-17 06:44] #119 closed

[2021-02-20 14:41] ErikEJ commented on #64
With the Azure Data Studio extension installed, this folder is present (on all platforms)

`C:\Users\ErikEJ\.azuredatastudio\extensions\microsoft.sql-database-projects-0.5.1\BuildDirectory`

[2021-02-22 07:20] artazar opened #122 "dotnet build error: Only one statement is allowed per batch. A batch separator, such as 'GO', might be required between statements."
Hi,

Thank you for the project, I am looking into adapting it for existing SSDT projects pipelines and moving them into dotnet core.

I have done a very simple thing and get the following error, can you help me?

1. Forked the repository: https://github.com/amachanic/sp_whoisactive
2. Created a project: # dotnet new sqlproj
3. Create the project file:

        <Project Sdk="MSBuild.Sdk.SqlProj/1.1

[2021-02-22 12:38] jeffrosenberg commented on #122
@artazar a few thoughts:

1. The reason this doesn't work without modification is that the Microsoft DacFX framework, which our project is based upon, expects a particular DDL syntax. All objects should be expressed as `CREATE` statements, in their own batch. You can achieve this by removing the first 11 lines (those properties can be set on your .csproj file, see our readme), and changing the `AL

[2021-02-22 22:21] JonDBA commented on #108
[code]

[2021-02-23 00:55] artazar commented on #122
Hi @jeffrosenberg ,

Appreciate your time and a detailed response!

I was investigating the possibilities of packing particular common scripts into dacpac packages similarly to what's described here: https://the.agilesql.club/2015/10/dir2dac-and-github2dacpac-create-dacpacs-from-script-folders-or-the-internet/

But as you explained, by design, this cannot be a pack of scripts, but rather a fully c

[2021-02-23 00:55] #122 closed

[2021-02-23 13:23] kevin-david commented on #64
... and those are actually available in their source code here:
https://github.com/microsoft/azuredatastudio/tree/main/extensions/sql-database-projects/BuildDirectory/SystemDacpacs

[2021-02-23 16:05] dzsquared commented on #64
We don't have a solution for redistribution of the dacpacs, but they're significantly more available now with the addition of the functionality to Azure Data Studio.

[2021-02-24 13:29] jmezach commented on #64
@ErikEJ Very nice, but I'm not sure if we want to depend on that during CI since that would require Azure Data Studio te be installed as well as the extension.

@dzsquared I'm wondering if we could add the repo linked by @kevin-david as a submodule here and then include them as part of the `MSBuild.Sdk.SqlProj` package, much like how we're including existing code from https://github.com/microsoft/

[2021-03-12 15:59] jovnas opened #123 "Error MSB4018 when building sqlproj with ref to sqlproj with large Post Deploy file."
### Environment
[code]

### Instructions to reproduce.

1. Clone https://github.com/jovnas/sql
2. Run `dotnet build` in solution folder.

### Expected result
[code]

### Actual result
[code]

Please note that my files have Windows style new lines, so if git converts them to another new line style, it might work. In that case, just add a bunch of lines in `test1/Post-Deployment/DummyFile.sql`. It s

[2021-03-15 06:59] jmezach commented on #123
@jovnas Thanks for reporting this. Would you mind sharing the contents of `test2.csproj` since it seems that the error occurs in that project.

[2021-03-15 07:04] ErikEJ commented on #123
@jmezach the csproj is in the GitHub repo linked above.

@jovnas what happens if you move all script content into the main post deploy file?

[2021-03-15 07:13] jmezach commented on #123
@ErikEJ Right, I guess I'm not totally awake just yet ;).

The error seems to suggest that the `.dacpac` that's produced from `test1.csproj` is being treated as a .NET assembly by the `ProjectReference` in `test2.csproj`. Not entirely sure why that happens though, because `test2.csproj` also uses this MSBuild SDK.

@jovnas Would you mind sharing an MSBuild binary log (using `msbuild /bl`)? Please

[2021-03-15 07:40] jovnas commented on #123
@ErikEJ Referencing the large file directly instead of through Script.PostDeployment.sql results in the same error, so my example was a bit too complicated. :)

@jmezach I've sent you a msbuild.binlog file.

[2021-03-15 12:15] jmezach commented on #123
I did some digging through the binary log, but so far I can't seem to figure out what's going wrong here. @jovnas Could you try running dotnet build on `test2.csproj` directly, rather than building the solution file? I'm thinking there might be a difference there.

[2021-03-15 13:35] jovnas commented on #123
@jmezach Running `dotnet build` in the test2 folder also fails. :(

[2021-03-15 13:41] jmezach commented on #123
@jovnas That's interesting. I just downloaded a zip of your repository, extracted it and ran `dotnet build` and it worked just fine on my first try (on a Windows machine that is). Could you try doing a `dotnet clean` and perhaps even delete the `bin` and `obj` folders manually to see if that helps?

[2021-03-15 15:06] jovnas commented on #123
@jmezach Strange. I have tried cleaning and removing bin/obj folders a couple of times and the error appears every time. I even tried it on another computer with the same results.
What if you add a couple of more lines into the /test1/Post-Deployment/DummyFile.sql file?
I made that file exactly the size it needed to be to fail on my machine. If I remove a single character from that file it builds

[2021-03-15 15:31] jmezach commented on #123
Yeah, after adding a couple of additional lines to that file it fails on my machine as well. Weird stuff. I'll have to do some more digging to figure this one out.

Does it also happen when you would split up the file into smaller pieces and then include them from Script.PostDeployment.sql (using the `:r <file>.sql` syntax)?

[2021-03-15 18:33] jmezach commented on #123
After doing some more digging it seems that the problem occurs because the `ResolveAssemblyReferences` target that is part of the .NET SDK is trying to do something with the `.dacpac` which obviously doesn't work since it is not a .NET assembly. It seems that he error is being triggered depending on the size of the `.dacpac` and I'm not entirely sure why that is.

Nevertheless it doesn't make any

[2021-03-15 18:51] jmezach commented on #123
I've created a PR that should fix this issue and asked @ErikEJ and @jeffrosenberg to review.

[2021-03-15 19:10] jmezach commented on #123
@jovnas I've published a pre-release version with the fix for this issue. Would you mind validating that it indeed fixes the issue in your environment? You should be able to update by editing your `.csproj`'s and changing the version number to `1.12.0-beta.8.g2e3af3032d`.

[2021-03-16 07:30] jovnas commented on #123
@jmezach Using `1.12.0-beta.8.g2e3af3032d` solves the problem! 🥳

[2021-03-16 07:41] jmezach commented on #123
Nice! Thanks for validating. I'll be shipping this as a patch release momentarily.

[2021-03-16 07:42] #123 closed

[2021-03-16 09:25] jmezach commented on #123
@jovnas FYI version 1.11.4 with the bug fix has been released on NuGet.org

[2021-03-16 11:39] jovnas commented on #123
@jmezach Awesome! Thank you for your quick response and fix!

[2021-03-16 11:45] jmezach commented on #123
@jovnas No problem. Thank you for using MSBuild.Sdk.SqlProj 👍

[2021-03-17 11:21] ChiefInnovator opened #125 "Build error when .NET 6 preview is installed. Any suggestions to correct this is appreciated."
We get the following error when Visual Studio 2019 Preview is installed on our workstation.  We tried using global.json to limit to only released versions, but no go.  Any thoughts on how to fix this?

global.json
{
  "sdk": {
    "allowPrerelease": false
  }
}

![image](https://user-images.githubusercontent.com/15870558/111459469-16a3b580-86f1-11eb-9827-5042fda3c946.png)

[2021-03-17 11:24] ErikEJ commented on #125
Change your framework target to a supported one, like "net5.0"

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Richard Crane ***@***.***>
Sent: Wednesday, March 17, 2021 12:21:39 PM
To: rr-wfm/MSBuild.Sdk.SqlProj ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [rr-wfm/MSBuild.Sdk.SqlProj] Build error when .NET 6 preview is installed. Any suggestions to co

[2021-03-17 11:50] jmezach commented on #125
@ChiefInnovator I would expect that global.json to fix this issue. Did you restart Visual Studio after adding the global.json? I believe it doesn't immediately take effect. If that doesn't work, could you share the output of `dotnet --info` running from the command line in the folder of your project?

[2021-03-20 17:05] pauldj54 commented on #64
Hi @jmezach , @BenjaminAbt and @jeffrosenberg , @ErikEJ
First thanks for such a project. I am also fighting to create CI with a linux-based build server and struggeling but your project looks promising. However, I still have some issues in getting things working.
Basically, I took the master.dacpac shipped with Visual Studio 2019 for Azure DW.
I created 3 projects:

- The regular database project

[2021-03-20 17:40] jmezach commented on #64
@pauldj54 The stacktrace of the error you're getting seems to suggest that the error occurs while adding a `.sql` script to the model. But looking at the output it seems that it occurs at the time the reference to the `.dacpac` is made, which is weird. Could you share the contents of `obj\Debug\netstandard2.0\edl-synapse-dwh-databases.build.InputFiles.txt`?

It also looks like you're using Azure S

[2021-03-20 18:16] pauldj54 commented on #64
Hi @jmezach ,

thanks for the fast response.
I changed the `<SqlServerVersion>` to `SqlDw` as proposed without success.

Here is the content of the **edl-synapse-dwh-databases.build.InputFiles.txt** file:
[code]
I will try to create a sample project from scratch and see if I detect some differences.

[2021-03-20 18:19] jmezach commented on #64
@pauldj54 Looking at that text file and the output you're getting again it looks like the `.dacpac` is being added as a regular `.sql` file to the model which obviously doesn't work. It should be added as a reference. Would you mind sharing the content of your project file?

[2021-03-20 19:32] pauldj54 commented on #64
@jmezach , yes, of course:

**edl-synapse-dwh-databases.build.csproj** (the build project):
[code]
**master.csproj** (the master.dacpac project):
[code]
Finally, and I think it could be relevant, the **master.1.0.0.nuspec**:
[code]
I changed the absolute paths to the master.dacpac file but it gets overwritten when I build and package the project.

[2021-03-20 20:37] jeffrosenberg commented on #64
@pauldj54 I think the issue here is in including the `.dll` file in `master.1.0.0.nuspec`. If you look at our example for packaging standalone projects in the README, you'll see the following, which doesn't include a `.ddl` file:

[code]

Try removing that and give it a whirl!

[2021-03-20 20:40] jmezach commented on #64
I think the problem is that the `master.dacpac` is not in the `tools` folder, which is where MSBuild.Sdk.SqlProj expects it to be when you add a `<PackageReference>` to a NuGet package. How are you creating the NuGet package? Using `dotnet pack` or `nuget pack`? If you're using `dotnet pack` I don't think the `.nuspec` is even being used.

I guess you could try the approach described in [this comm

[2021-03-21 11:30] pauldj54 commented on #64
Hi @jmezach ,
I applied what you have documented in the readme and it worked:

- Create a package using the standalone **master.dacpac**
- Used` nuget pack` instead of `dotnet pack`
- Referenced it in the database.build project
- Clean up nuget cash and delete old references, since the database.build project was still expecting the **master.dll** file

This worked locally in my console.
My next ch

[2021-03-21 11:43] jmezach commented on #64
@pauldj54 That is great to hear. I'm glad you got this working although to be honest I wish you as a user shouldn't have to worry about this in the first place. I'd rather ship a separate NuGet package as part of this project that would contain the master.dacpac for various versions of SQL Server that you could just reference and it would work. Unfortunately there is a potential licensing issue th

[2021-03-21 12:03] ErikEJ commented on #64
Yes, there are multiple examples of similar unofficial packages with SQL Server related libraries.

[2021-03-21 12:59] orloffm commented on #64
Gentlemen, but can you please support a local `.dacpac` file? For us mere mortals in a Windows corporate banking environment the idea of publishing nuget somewhere is terrifying. Would be so much easier just to put the file into the project. For example, to `tools/master.dacpac.`. Thanks.

[2021-03-21 13:09] ErikEJ commented on #64
@orloffm but this tool is a Nuget package !?

[2021-03-21 13:47] jeffrosenberg commented on #64
@orloffm We rely on NuGet to resolve package references, so I'm not sure it makes sense to write our own methods of handling a local .dacpac file, although I'll defer to @jmezach who may disagree with me. In the meantime, I can think of a few ways to handle this that are already supported:

1. You can reference a local project file (`.csproj`) without packaging it into a dacpac
2. You can use an i

[2021-03-21 13:53] jeffrosenberg commented on #64
@jmezach I took a look at the [license file for the Azure Data Studio repository](https://github.com/microsoft/azuredatastudio/blob/main/LICENSE.txt), and it doesn't lead me to think they would be amenable to our using it as a submodule:

[2021-03-21 14:19] jmezach commented on #64
@jeffrosenberg I'm not entirely sure what you're trying to say. Do you mean that the license isn't a blocker for us to use as a submodule, or do you think it is?

[2021-03-21 15:30] orloffm commented on #64
Sorry, I meant - supporting the local `master.dacpac` in my DB project that I'm trying to build, without the need for a separate package. Maybe that's my personal professional deformation, but we'd prefer to have it that way in our project.

Anyway, I've made the `<PackageReference>` approach work the following way:

**Project with .dacpac files:**

[code]

**MyOwnMasterDacpac.csproj contents:**

[2021-03-21 16:53] jeffrosenberg commented on #64
@jmezach sorry if I was unclear. I think that license _is_ a blocker, since it says "You may not sublicense the Software Code or any use of it."

[2021-04-01 10:19] ratynchukD commented on #125
I had a similar issue but with "netcoreapp5.0"

Adding the global.json worked for me.
Example of the content:
[code]

Find out more [here ](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json?tabs=netcore3x#examples) about global.json

[2021-04-01 10:41] jmezach commented on #125
@ratynchukD As of version 1.6.0 there should be support for .NET 5 so it would work with any SDK version 5.0. If that is not the case we would like to understand why it doesn't work for you.

We don't support .NET 6 previews just yet. Since .NET 6 is still early in the preview phase I don't expect many people will have an issue with this, but please upvote this issue if you feel this is important

[2021-04-01 12:12] ratynchukD commented on #125
@jmezach This needs to be discussed in my team since we are using the 1.2.0 version. I'm new to the project and might be the first who faced with the issue.

Regarding .NET 6 preview - I don't feel this is important to my team or me.

Thank you!

[2021-04-14 22:17] Fenix-Z opened #126 "Database deployment (dotnet publish) failes - An error occurred during deployment plan generation. Deployment cannot continue. error MSB3073. Exit code -1."
I have a very simple SSDT project (contains one table) created in VS 2019 (16.4.4) and .NET standard Class Library project using `MSBuild.Sdk.SqlProj`.

[code]
`dotnet build` is executed successfully but `dotnet publish` (publishing on SQL Server 14) fails with the following error:
[code]

Please could you help me how can I publish my project?

[2021-04-14 22:28] Fenix-Z commented on #126
Solved - database version was required: `<SqlServerVersion>Sql140</SqlServerVersion>`

[2021-04-14 22:28] #126 closed

[2021-04-15 06:19] jmezach commented on #126
@Fenix-Z Glad you found the issue. I would recommend updating to a newer version (1.11.4 is the latest right now) which has some improved diagnostics that should make it easier to diagnose issues.

[2021-04-20 18:13] iSeiryu commented on #121
Ran into the same issue.
[code]
gives me
[code]

Removing it builds just fine.

Maybe add some kind of `Exclude` property to `.csproj`?

[2021-04-21 13:00] kevcrooks commented on #63
@jmezach I was just able to come back to this again, and with fresh eyes I'm almost able to get a workflow that will suit us.

Unfortunately I'm now having a problem where the project will not build when it should do.

I've set up a basic template project with a single table in Visual Studio. When I update the table and do a build in Visual studio it says:
`========== Build: 0 succeeded, 0 failed,

[2021-04-21 14:02] jmezach commented on #63
Hmm, not sure why that doesn't work as expected. Could you try these [debugging suggestions](https://github.com/dotnet/project-system/blob/main/docs/up-to-date-check.md#debugging) and post the output here so we can have a look at what's going on?

[2021-04-22 09:51] kevcrooks commented on #63
@jmezach  Here's the verbose output with a project containing a single table, if I edit e.g. the name of a field in the `Table.sql` file.

I found that this happens because I don't need need these lines to explicitly reference the `.sql` file in the `.csproj` any more:
[code]

However if do include these lines in the `.csproj` file, then all works as expected, so this is probably a good enough wor

[2021-04-22 10:53] jmezach commented on #63
Hmm, looks like the fast-up-to-date check only looks at `Compile` items and not `Content` items. I guess we could change the SDK to use `Compile` as the build action instead of `Content`, but that would be a breaking change. Alternatively we could investigate whether we can influence the fast-up-to-date check to (also) look at `Content`. Maybe that would be as easy as adding `< UpToDateCheckInput

[2021-04-22 19:13] kijewskimateusz opened #128 "Can not recursively exclude files from build"
Hello,

It looks like it's impossible to add entire directory to exclude from build. Whenever I'm trying to exclude a folder containing more than one file with command `<Content Remove="Repos\*\Scripts\Inserts\*.sql" />`, it throws an error:

[2021-04-22 19:14] kijewskimateusz commented on #128
Attached you can find file system causing an error
![image](https://user-images.githubusercontent.com/65126185/115772751-c4207d80-a3af-11eb-83e0-1f16476d84e8.png)

[2021-04-23 06:27] jmezach commented on #128
@kijewskimateusz Thanks for reporting. Have you tried using a double * instead of a single one? So for example `<Content Remove="Repos\**\Scripts\Inserts\*.sql" />`? I think that is the syntax you need when you want to include subfolders.

If that doesn't help, please share the entire output of `dotnet build` so we can further diagnose the issue.

[2021-04-30 05:08] joshsten commented on #27
Came here looking for this for the exact same reason (integration tests.)

[2021-05-01 18:31] kijewskimateusz commented on #128
Hello, sorry for the significant delay while getting back to you. Unfortunately, the issue still persists, when I'm using doubled **. I've also found out that the issue only happens when allocating items to be excluded within subdirectories. They are recursively selected while stored within the main directory.
Attached you'll find my copy of the output window, unfortunately in Polish, but also I'v

[2021-05-03 07:14] jmezach commented on #128
After having looked at the stacktrace it seems this is failing in the calculation of files that are included from the pre- and post-deployment scripts. You'll want to look at `Pre-Deployment\Script.PreDeployment.sql` and `Post-Deployment\Script.PostDeployment.sql` and see what's included from there (using the `:r <file>.sql` syntax) to figure out where the error is coming from.

@jeffrosenberg We